<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta http-equiv=" X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<meta name="description"
		content="Secure your future with a fixed deposit at SureDeposit - offering a world-class 18% return rate. Join today and build your wealth with confidence!">

	<meta property="og:url" content="">
	<meta property="og:type" content="application">
	<meta property="og:title" content="SureDeposit | Secure FDs with the 'Highest Return' in the World!">
	<meta property="og:description"
		content="Secure your future with SureDeposit - the smart choice for high-yield fixed deposits!">
	<meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
	<meta property="og:image" content="img_suredeposit/logo.png">

	<title>SureDeposit | Edit Account details </title>

	<link rel="apple-touch-icon" sizes="180x180" href="img_suredeposit/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img_suredeposit/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img_suredeposit/favicon-16x16.png">
	<link rel="manifest" href="img_suredeposit/site.webmanifest">
	<link rel="stylesheet" href="/css_suredeposit/common.css">
	<link rel="stylesheet" href="/css_suredeposit/editprofile.css">
</head>

<body>

	<section class="hamburger-menu flex-colunm">
		<input id="menu__toggle" type="checkbox" />
		<label class="menu__btn" for="menu__toggle">
			<span></span>
		</label>
		<div class="flex item-center">
			<h2 class="h-6 page-title color"></h2>

		</div>
		<ul class="menu__box flex-colunm">
			<a class="btn btn-grey margin-left-right menu__item" href="/profile">My Account</a>
			<li class="menu__item">
				<a href="/deposit"><img src="img_suredeposit/add.svg" alt="" class="icons2">
					Deposit</a>
			</li>
			<li class="menu__item">
				<a href="/withdraw"><img src="img_suredeposit/withdraw.png" alt="" class="icons2">
					Withdraw</a>
			</li>
			<!-- <li class="menu__item">
				<a href="/history"><img src="img_suredeposit/history.svg" alt="" class="icons2">
					History</a>
			</li> -->
			<li class="menu__item">
				<a href="/help"><img src="img_suredeposit/help.svg" alt="" class="icons2">
					Help & Support</a>
			</li>
			<li class="menu__item">
				<a href="/rewards"><img src="img_suredeposit/gift.svg" alt="" class="icons2">
					Rewards</a>
			</li>
			<li class="menu__item">
				<a href="/settings"><img src="img_suredeposit/settings.svg" alt="" class="icons2">
					Settings</a>
			</li>
			<a class="btn btn-grey margin-left-right menu__item sign-out" id="signout" href="/auth/signout">Sign out</a>
		</ul>
	</section>

	<section class="screen">
		<div class="flex-colunm" id="profile_section">
			<form id="signin" class="signin-box" name="bank" action="/setData/bank" method="POST">
				<div class="fields">
					<select value="0" class="field-value" id="choice" name="choice" oninput="change()">
						<option value="0">Bank Account</option>
						<option value="1">UPI ID</option>
					</select>
					<div class="flex item-center margin-top	">
						<span class="text center color b">Withdrawal amount can be received in Bank Account or UPI ID.
							If both added, Bank Account will be Prioritized.</span>
					</div>
				</div>
				<div class="fields" id="bankname">
					<label for="cbname" class="field-name">Bank Name</label>
					<input type="text" value="" class="field-value" id="cbname" name="cbname" placeholder="Bank Name"
						readonly minlength="1">
				</div>
				<div class="fields">
					<label for="caccname" class="field-name">Account Holder</label>
					<input type="text" value="" class="field-value" id="caccname" name="caccname"
						placeholder="Account Holder Name" readonly minlength="1">
				</div>
				<div class="fields" id="accno">
					<label for="caccno" class="field-name">Account Number</label>
					<input type="number" value="" class="field-value" id="caccno" name="caccno"
						placeholder="Account Number" readonly minlength="8" maxlength="18">
				</div>
				<div class="fields" id="ifsc">
					<label for="cifsc" class="field-name">IFSC Code</label>
					<input type="text" value="" class="field-value" id="cifsc" name="cifsc" placeholder="IFSC Code"
						readonly minlength="1">
				</div>
				<div class="fields hidden" id="upi">
					<label for="cupiid" class="field-name">UPI ID</label>
					<input type="text" value="" class="field-value" id="cupiid" name="cupiid" placeholder="UPI ID"
						readonly minlength="1">
				</div>
				<div id="btns">
					<div class="flex-row">
						<input type="submit" value="Save" class="btn hidden" id="submitBtn">
						<div class="editBtnBox">
							<a class="btn editBtn">Edit</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>

	<section id="nav">
		<div Class="Navbar">
			<li Class="List-Item home" onclick="location.href='/home'">
				<img src="img_suredeposit/home2.svg" alt="Home" class="icons">
				<span Class="List-Item-Name">Home</span>
			</li>
			<li Class="List-Item dash" onclick="location.href='/summary'">
				<img src="img_suredeposit/dash2.svg" alt="Summary" class="icons">
				<span Class="List-Item-Name">Summary</span>
			</li>
			<li Class="List-Item account" onclick="location.href='/profile'">
				<img src="img_suredeposit/user2.svg" alt="Account" class="icons">
				<span Class="List-Item-Name">Account</span>
			</li>
		</div>
	</section>

</body>
<script>
	const editBtn = document.querySelector(".editBtn");
	const submitBtn = document.getElementById("submitBtn");
	const errorBox = document.getElementById("errorBox");
	const fields = document.querySelectorAll('.field-value');

	editBtn.addEventListener("click", () => {
		editBtn.classList.add("hidden");
		submitBtn.classList.remove("hidden");
		fields.forEach(field => {
			field.removeAttribute('readonly');
		});
	});
</script>
<script src="/js_suredeposit/editbank.js"></script>
<script src="/js_suredeposit/ham.js"></script>

<script> document.querySelector('.page-title').innerHTML = "Edit Bank Details";</script>

</html>