<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta http-equiv=" X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<meta name="description"
		content="Secure your future with a fixed deposit at SureDeposit - offering a world-class 18% return rate. Join today and build your wealth with confidence!">

	<meta property="og:url" content="">
	<meta property="og:type" content="application">
	<meta property="og:title" content="SureDeposit | Secure FDs with the 'Highest Return' in the World!">
	<meta property="og:description"
		content="Secure your future with SureDeposit - the smart choice for high-yield fixed deposits!">
	<meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
	<meta property="og:image" content="img_suredeposit/logo.png">

	<title>SureDeposit | Deposit Confirmation</title>

	<link rel="apple-touch-icon" sizes="180x180" href="img_suredeposit/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img_suredeposit/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img_suredeposit/favicon-16x16.png">
	<link rel="manifest" href="img_suredeposit/site.webmanifest">
	<link rel="stylesheet" href="/css_suredeposit/common.css">
	<link rel="stylesheet" href="/css_suredeposit/deposit.css">
	<!-- <script src="https://checkout.razorpay.com/v1/checkout.js"></script> -->
</head>

<body>

	<section class="hamburger-menu flex-colunm"><input id="menu__toggle" type="checkbox" />
		<label class="menu__btn" for="menu__toggle">
			<span></span>
		</label>
		<div class="flex item-center">
			<h2 class="h-6 page-title color"></h2>
		</div>
		<ul class="menu__box flex-colunm">
			<a class="btn btn-grey margin-left-right menu__item" href="/profile">My Account</a>
			<li class="menu__item">
				<a href="/deposit"><img src="img_suredeposit/add.svg" alt="" class="icons2">
					Deposit</a>
			</li>
			<li class="menu__item">
				<a href="/withdraw"><img src="img_suredeposit/withdraw.png" alt="" class="icons2">
					Withdraw</a>
			</li>
			<li class="menu__item">
				<a href="/history"><img src="img_suredeposit/history.svg" alt="" class="icons2">
					History</a>
			</li>
			<li class="menu__item">
				<a href="/help"><img src="img_suredeposit/help.svg" alt="" class="icons2">
					Help & Support</a>
			</li>
			<li class="menu__item">
				<a href="/rewards"><img src="img_suredeposit/gift.svg" alt="" class="icons2">
					Rewards</a>
			</li>
			<li class="menu__item">
				<a href="/settings"><img src="img_suredeposit/settings.svg" alt="" class="icons2">
					Settings</a>
			</li>
			<a class="btn btn-grey margin-left-right menu__item sign-out" id="signout" href="/auth/signout">Sign out</a>
		</ul>
	</section>

	<section class="screen flex-colunm item-center padding" id="cpay">
		<h1 class="b color margin-bottom center">Confirm Deposit Amount</h1>
		<input type="text" id="amount-input" name="amount-input" class="margin-top margin-bottom">
		<div class="gery-box-big margin-bottom margin-top center">
			<div class="flex-row center">
				<img src="img_suredeposit/lock.svg" alt="">
				<span class="h-6 b">Secure payment</span>
			</div>
			<span class="h-6 b">via Razorpay</span>
		</div>
		<div class="flex-colunm item-center btn-box margin-top">
			<a class="btn" id="pay" onclick="payNow()">Proceed to Pay </a>
		</div>
		<div class="flex-colunm item-center btn-box margin-top">
			<a class="btn btn-grey" href="/deposit">Go Back</a>
		</div>
	</section>

	<section id="nav">
		<div Class="Navbar">
			<li Class="List-Item home" onclick="location.href='/home'">
				<img src="img_suredeposit/home2.svg" alt="Home" class="icons">
				<span Class="List-Item-Name">Home</span>
			</li>
			<li Class="List-Item dash" onclick="location.href='/summary'">
				<img src="img_suredeposit/dash2.svg" alt="Summary" class="icons">
				<span Class="List-Item-Name">Summary</span>
			</li>
			<li Class="List-Item account" onclick="location.href='/profile'">
				<img src="img_suredeposit/user2.svg" alt="Account" class="icons">
				<span Class="List-Item-Name">Account</span>
			</li>
		</div>
	</section>


</body>
<script>
	document.querySelector('.page-title').innerHTML = "Deposit";
	var amt = localStorage.getItem("amt");
	var amttxt = "₹ " + amt;
	document.querySelector('#amount-input').value = amttxt;
    // async function payNow() {
    //     let response = await fetch('/orders', {
    //         method: "POST",
    //         headers: {
    //             "Content-Type": "application/json"
    //         },
    //         body: JSON.stringify({
    //             amount: amt,
    //         })
    //     })

    //     let orderData = await response.json();

    //     fetch('/razorpay/pay')
    //         .then(response => response.json())
    //         .then(data => {
    //             const name = data.name;
    //             const phone = data.phone;
    //             const email = data.email;

    //             var options = {
    //                 "key": "rzp_live_uQGjObim82lWnp",
    //                 "amount": amt * 100,
    //                 "currency": "INR",
    //                 "order_id": orderData.id,
    //                 "name": "SureDeposit",
    //                 "description": "Deposit",
    //                 "image": "img_suredeposit/logo_favicon.png",
    //                 "handler": function (response) {
    //                     // alert(response.razorpay_payment_id);
    //                     // alert(response.razorpay_order_id);
    //                     // alert(response.razorpay_signature)
    //                     if (typeof response.razorpay_payment_id == 'undefined' || response.razorpay_payment_id < 1) {
    //                         location.href = '/failure';
    //                     } else {
    //                         var inv = parseInt(localStorage.getItem("inv"));
    //                         var bal = parseInt(localStorage.getItem("bal"));
    //                         // console.log("first");
    //                         async function paymentSuccess() {
    //                             let responses = await fetch('/setData/deposit', {
    //                                 method: "POST",
    //                                 headers: {
    //                                     "Content-Type": "application/json"
    //                                 },
    //                                 body: JSON.stringify({
    //                                     amt: amt,
    //                                 })
    //                             })

    //                             let payResponse = await responses.json();
    //                             // console.log(payResponse);
    //                         }
    //                         paymentSuccess();
    //                         bal += parseInt(amt);
    //                         inv += parseInt(amt);
    //                         localStorage.setItem("bal", bal);
    //                         localStorage.setItem("inv", inv);
    //                         localStorage.removeItem("amt");
    //                         location.href = '/success';
    //                     }
    //                 },
    //                 "prefill": {
    //                     "name": name,
    //                     "email": email,
    //                     "contact": phone
    //                 },
    //                 "theme": {
    //                     "color": "#0062F5"
    //                 }
    //             };
    //             var rzp1 = new Razorpay(options);
    //             rzp1.open();
    //         })
    //         .catch(error => console.error(error));
    // }
</script>
<script src="/js_suredeposit/payment.js"></script>

</html>