<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta http-equiv=" X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<meta name="description"
		content="Secure your future with a fixed deposit at SureDeposit - offering a world-class 15% return rate. Join today and build your wealth with confidence!">

	<meta property="og:url" content="www.suredeposit.in">
	<meta property="og:type" content="website">
	<meta property="og:title" content="SureDeposit | The World's Highest Return on Investments! | suredeposit.in">
	<meta property="og:description"
		content="Secure your future with SureDeposit - offering a world-class 15% return rate!">
	<meta property="og:image" content="img_landingPage/logo_favicon.png">

	<title>Contact Us | SureDeposit | suredeposit.in</title>

	<link rel="apple-touch-icon" sizes="150x150" href="img_landingPage/logo_favicon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img_landingPage/logo_favicon.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img_landingPage/logo_favicon.png">
	<!-- <link rel="manifest" href="img/site.webmanifest"> -->
	<link rel="stylesheet" href="/css_suredeposit/common.css">
	<link rel="stylesheet" href="/css_suredeposit/landingPages.css">
	<link rel="stylesheet" media="screen and (min-width: 140px) and (max-width: 450px)"
		href="/css_suredeposit/mobile.css">
	<link rel="stylesheet" media="screen and (min-width: 451px) and (max-width: 800px)"
		href="/css_suredeposit/mobile.css">
	<script defer src="/js_suredeposit/landingPage.js"></script>

</head>

<body>
	<section id="navbar" class="scroll">
		<img src="img_landingPage/logo.png" alt="Logo" id="logo" onclick="location.href = '/'" class="cur-point">
		<div id="nav-links" class="flex-row">
			<a class="linkbtn" href="/">Home</a>
			<a class="linkbtn" href="/aboutus">About Us</a>
			<a class="linkbtn active" href="/contact">Contact Us</a>
			<a class="linkbtn" href="/signin">Login</a>
		</div>
	</section>

	<main class="margin-top margin-bottom">
		<section class="margin-top margin-bottom padding-12">
			<h1 class="main-heading center margin-bottom">Contact Us</h1>
			<p class="bullets center">Welcome to the SureDeposit Contact Us page, your direct link to communicate with
				our team. We value your inquiries, feedback, and concerns, and we're here to provide the support you
				need. Below, you'll find detailed information on how to get in touch with us, including our WhatsApp
				number, email address, and our presence on social media platforms.
			</p>
			<ol class="flex-colunm margin-top">
				<li><span class="bullets color">Email: </span><a target="_blank" rel="noopener noreferrer"
						class="linkbtn" href="mailto:contact@unitybooks.in">contact@suredeposit.in</a></li>
				<li><span class="bullets color">Mobile/WhatsApp: </span><a target="_blank" rel="noopener noreferrer"
						class="linkbtn"
						href="https://api.whatsapp.com/message/HJFV7CZRCD7BG1?autoload=1&amp;app_absent=0"> +91
						9484480809</a></li>
				<li><span class="bullets color">Instagram: </span><a target="_blank" rel="noopener noreferrer"
						class="linkbtn" href="https://www.instagram.com/suredeposit_in/">@suredeposit_in</a>
				</li>
				<li><span class="bullets color">Twitter: </span><a target="_blank" rel="noopener noreferrer"
						class="linkbtn" href="https://twitter.com/suredeposit_in">@suredeposit_in</a>
				</li>
			</ol>
		</section>

		<section id="contents" class="padding-12">
			<div class="flex-colunm">
				<h2 class="headings">Table of Contents</h2>
				<ol class="flex-colunm">
					<li><a class="linkbtn" href="#why">Why Contact SureDeposit?</a></li>
					<li><a class="linkbtn" href="#commitment">Our Commitment to Communication</a></li>
					<li><a class="linkbtn" href="#methods">Contact Methods</a></li>
					<li><a class="linkbtn" href="#when">When to Contact Us?</a></li>
					<li><a class="linkbtn" href="#faq">Frequently Asked Questions</a></li>
					<li><a class="linkbtn" href="#social">Connect with Us on Social Media</a></li>
				</ol>
			</div>
		</section>

		<section id="why" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">Why Contact SureDeposit?</h2>
			<p class="text2">You may be wondering why reaching out to SureDeposit can be beneficial:</p>
			<ol class="flex-colunm">
				<li class="bullets2 b">Personalized Assistance: <p class="bullets ub margin-top-bottom">Our support team
						offers personalized assistance tailored to your unique needs, whether you're a first-time
						investor or an experienced user.</p>
				</li>
				<li class="bullets2 b">Account and Investment Guidance: <p class="bullets ub margin-top-bottom">
						Questions about your account setup, investment options, or how to maximize your returns? We're
						here to provide guidance.</p>
				</li>
				<li class="bullets2 b">Technical Support: <p class="bullets ub margin-top-bottom">Encountering technical
						issues or having trouble navigating our website or mobile app? Our team can assist with
						troubleshooting and resolution.</p>
				</li>
				<li class="bullets2 b">Feedback and Suggestions: <p class="bullets ub margin-top-bottom">Your feedback
						is invaluable. If you have suggestions for improving our platform or have encountered issues,
						your input helps us enhance your experience.</p>
				</li>
			</ol>
		</section>

		<section id="commitment" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">Our Commitment to Communication</h2>
			<p class="text2">Effective communication is at the heart of our customer-centric approach. We are committed
				to being responsive, accessible, and attentive to your needs. Whether you have questions about your
				investments, want to better understand our services, or simply need assistance, we are here to provide
				clear and helpful responses.</p>
		</section>

		<section id="methods" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">Contact Methods</h2>
			<p class="text2">SureDeposit offers several contact methods for your convenience:</p>
			<ol class="flex-colunm">
				<li class="bullets2 b">Phone/WhatsApp: <p class="bullets ub margin-top-bottom">You can reach us directly
						via Phone/WhatsApp at +919484480809. Please note that we do not advise making calls to this
						number and instead insist on messaging us.</p>
				</li>
				<li class="bullets2 b">Email: <p class="bullets ub margin-top-bottom">For non-urgent inquiries or when
						you prefer written communication, you can send an email to contact@suredeposit.in. We aim to
						respond to emails promptly during our business hours.</p>
				</li>
				<li class="bullets2 b">Social Media: <p class="bullets ub margin-top-bottom">You can also reach us at
						our Instagram or Twitter handle to raise your queries.</p>
				</li>
			</ol>
		</section>

		<section id="when" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">When to Contact Us?</h2>
			<p class="text2">You may be wondering when it's appropriate to reach out to SureDeposit. Here are some
				scenarios where contacting us is a good idea:</p>
			<ol class="flex-colunm">
				<li class="bullets2 b">Account Assistance: <p class="bullets ub margin-top-bottom">If you encounter
						issues with your account setup, login, or password reset, we can help you navigate these
						challenges.</p>
				</li>
				<li class="bullets2 b">Investment Queries: <p class="bullets ub margin-top-bottom">Whether you're
						curious about our investment options, how to diversify your portfolio, or understanding your
						returns, our team can provide insights.</p>
				</li>
				<li class="bullets2 b">Technical Support: <p class="bullets ub margin-top-bottom">If you encounter
						technical issues while using our website or mobile app, please don't hesitate to reach out. We
						can assist with troubleshooting and resolving any problems.</p>
				</li>
				<li class="bullets2 b">Feedback and Suggestions: <p class="bullets ub margin-top-bottom">Your feedback
						matters. If you have ideas for improving our platform or have encountered any issues, please
						share your thoughts with us. We're constantly working to enhance your experience.</p>
				</li>
			</ol>
		</section>

		<section id="faq" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">Frequently Asked Questions</h2>
			<p class="text2">Before reaching out to us, consider checking our Frequently Asked Questions (FAQ) section
				on our website. We've compiled answers to common queries that users often encounter. You might find the
				information you need without the need for direct assistance. Our FAQ section covers topics such as
				account setup, investments, withdrawals, and more.</p>
		</section>

		<section id="social" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">Connect with Us on Social Media</h2>
			<p class="text2">SureDeposit believes in the power of community and engagement. You can also connect with us
				through our social media channels and online communities to stay updated, ask questions, and share your
				experiences:</p>
			<ol class="flex-colunm">
				<li class="bullets2 b">Instagram: <p class="bullets ub margin-top-bottom">Follow us on <a
							href="https://www.instagram.com/suredeposit_in/" class="linkbtn">@suredeposit_in</a> to
						get the latest updates, financial tips, and community stories.</p>
				</li>
				<li class="bullets2 b">Twitter: <p class="bullets ub margin-top-bottom">Connect with us on <a
							href="https://twitter.com/suredeposit_in" class="linkbtn">@suredeposit_in</a> for news,
						insights, and updates.</p>
				</li>
				<!-- <li class="bullets2 b">SureDeposit Online Forum: <p class="bullets ub margin-top-bottom">Join our online community
						of users and engage in discussions, share insights, and learn from fellow investors. We believe
						that together, we can achieve more.</p>
				</li> -->
			</ol>
		</section>

		<section id="thankyou" class="margin-bottom padding-12">
			<p class="text2">
				Thank you for choosing SureDeposit as your peer-to-peer lending platform and for considering us as your
				trusted partner in financial growth. Your satisfaction and success are our top priorities. We look
				forward to assisting you, providing solutions, and being a part of your financial journey. Feel free to
				contact us using the methods provided above, and we'll be happy to assist you.</p>
		</section>
	</main>

	<footer class="flex-colunm">
		<div class="padding-15 flex-row footer">
			<div class="flex-colunm menu">
				<img src="img_landingPage/logo_favicon.png" alt="" id="favicon" loading="lazy">
			</div>
			<div class="flex-colunm menu">
				<span class="sub-heading color menu-header">Website</span>
				<a class="linkbtn" href="/home">Dashboard</a>
				<a class="linkbtn" href="/signup">Signup</a>
				<a class="linkbtn" href="/signin">Login</a>
			</div>
			<div class="flex-colunm menu">
				<span class="sub-heading color menu-header">Help Topics</span>
				<a class="linkbtn" href="/aboutus">About Us</a>
				<a class="linkbtn" href="/contact">Contact Us</a>
				<a class="linkbtn" href="/faq">FAQs</a>
			</div>
		</div>
		<div class="padding-15 flex-row footer">
			<div class="flex-colunm menu">
				<span class="sub-heading color menu-header">Policies</span>
				<a class="linkbtn" href="/tnc">Terms & Conditions</a>
				<a class="linkbtn" href="/privacy-policy">Privacy Policy</a>
			</div>
			<div class="flex-colunm menu">
				<span class="sub-heading color menu-header">Contact Us</span>
				<span class="bullets"><a target="_blank" rel="noopener noreferrer" class="linkbtn"
						href="mailto:contact@unitybooks.in">contact@suredeposit.in</a></span>
				<span class="bullets">
					<a target="_blank" rel="noopener noreferrer" class="linkbtn"
						href="https://api.whatsapp.com/message/HJFV7CZRCD7BG1?autoload=1&amp;app_absent=0">
						9484480809</a>
				</span>
			</div>
			<div class="flex-colunm menu app-links">
				<a href="https://play.google.com/store/apps/details?id=com.Pageturners_tech.sure_deposit_AIA_store"><img
						src="img_landingPage/playstore.png" alt="" id="playBtn" loading="lazy" class="play"></a>
			</div>
		</div>
		<div class="flex-colunm item-center">
			<h4 class="sub-heading">Crafted with <img src="img_landingPage/fav-fill.svg" alt="" id="heart"
					loading="lazy"> in
				India</h4>
			<p id="tnc" class="text2 center">Copyright © 2023 SureDeposit™. All rights reserved.</p>
			<hr class="sto">
		</div>
	</footer>

</body>

</html>