<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta http-equiv=" X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<meta name="description"
		content="Secure your future with a fixed deposit at SureDeposit - offering a world-class 18% return rate. Join today and build your wealth with confidence!">

	<meta property="og:url" content="">
	<meta property="og:type" content="application">
	<meta property="og:title" content="SureDeposit | Secure FDs with the 'Highest Return' in the World!">
	<meta property="og:description"
		content="Secure your future with SureDeposit - the smart choice for high-yield fixed deposits!">
	<meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
	<meta property="og:image" content="img_suredeposit/logo.png">

	<title>SureDeposit | FAQs</title>

	<link rel="apple-touch-icon" sizes="180x180" href="img_suredeposit/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img_suredeposit/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img_suredeposit/favicon-16x16.png">
	<link rel="manifest" href="img_suredeposit/site.webmanifest">
	<link rel="stylesheet" href="/css_suredeposit/common.css">
	<link rel="stylesheet" href="/css_suredeposit/help.css">

</head>

<style>
	table .faq-content td:first-child {
		width: 115%;
		font-weight: 500;
		align-items: flex-start;
		justify-content: center;
	}
</style>

<body>

	<section class="hamburger-menu flex-colunm">
		<input id="menu__toggle" type="checkbox" />
		<label class="menu__btn" for="menu__toggle">
			<span></span>
		</label>
		<div class="flex item-center">
			<h2 class="h-6 page-title color"></h2>
		</div>
		<ul class="menu__box flex-colunm">
			<a class="btn btn-grey margin-left-right menu__item" href="/profile">My Account</a>
			<li class="menu__item">
				<a href="/deposit"><img src="img_suredeposit/add.svg" alt="" class="icons2">
					Deposit</a>
			</li>
			<li class="menu__item">
				<a href="/withdraw"><img src="img_suredeposit/withdraw.png" alt="" class="icons2">
					Withdraw</a>
			</li>
			<li class="menu__item">
				<a href="/history"><img src="img_suredeposit/history.svg" alt="" class="icons2">
					History</a>
			</li>
			<li class="menu__item">
				<a href="/help"><img src="img_suredeposit/help.svg" alt="" class="icons2">
					Help & Support</a>
			</li>
			<li class="menu__item">
				<a href="/rewards"><img src="img_suredeposit/gift.svg" alt="" class="icons2">
					Rewards</a>
			</li>
			<li class="menu__item">
				<a href="/settings"><img src="img_suredeposit/settings.svg" alt="" class="icons2">
					Settings</a>
			</li>
			<a class="btn btn-grey margin-left-right menu__item sign-out" id="signout" href="/auth/signout">Sign out</a>
		</ul>
	</section>

	<section class="screen">
		<div id="faqs" class="flex-colunm margin-bottom">
			<h2 class="center">FAQs</h2>
			<p class="h-4 padding">Got a question? We've got you covered! Check out some of the most commonly
				asked questions about us.</p>
			<table class="margin-bottom">
				<tbody>
					<tr class="faq-row">
						<td><span>Can I withdraw my investment before the term ends?</span></td>
						<td><img src="img_suredeposit/next.svg" alt="" class="icons2 faq-arrow"></td>
					</tr>
					<tr class="faq-content hidden">
						<td colspan="2" class="flex-colunm">
							<p class="text">Yes, you can withdraw your investment amount at any time, although you may
								incur a charge of 1% for instant withdrawals</p>
						</td>
					</tr>
					<tr class="faq-row">
						<td><span>When will I receive my investment back if I withdraw?</span></td>
						<td><img src="img_suredeposit/next.svg" alt="" class="icons2 faq-arrow"></td>
					</tr>
					<tr class="faq-content hidden">
						<td colspan="2" class="flex-colunm">
							<p class="text">If withdrawal is made before the last day of the month, you will receive
								your investment on 5th of the next month in your bank account.</p>
						</td>
					</tr>
					<tr class="faq-row">
						<td><span>What is Quick Withdrawal?</span></td>
						<td><img src="img_suredeposit/next.svg" alt="" class="icons2 faq-arrow"></td>
					</tr>
					<tr class="faq-content hidden">
						<td colspan="2" class="flex-colunm">
							<p class="text">You can also receive your funds within 48 hours of your request with Instant
								Withdraw feature.</p>
						</td>
					</tr>
					<tr class="faq-row">
						<td><span>How is interest calculated on my investment ?</span></td>
						<td><img src="img_suredeposit/next.svg" alt="" class="icons2 faq-arrow"></td>
					</tr>
					<tr class="faq-content hidden">
						<td colspan="2" class="flex-colunm">
							<p class="text">Interests on your deposit are calculated on the basis of number of days for
								which you have invested. </p>
						</td>
					</tr>
					<tr class="faq-row">
						<td><span>Can I withdraw my interest anytime?</span></td>
						<td><img src="img_suredeposit/next.svg" alt="" class="icons2 faq-arrow"></td>
					</tr>
					<tr class="faq-content hidden">
						<td colspan="2" class="flex-colunm">
							<p class="text">Yes, with SureDeposit, you have flexible deposit and withdrawal options,
								which means you can withdraw your interest anytime you want.</p>
						</td>
					</tr>
					<tr class="faq-row">
						<td><span>How often are interest payouts made?</span></td>
						<td><img src="img_suredeposit/next.svg" alt="" class="icons2 faq-arrow"></td>
					</tr>
					<tr class="faq-content hidden">
						<td colspan="2" class="flex-colunm">
							<p class="text">Interest payouts are made on a monthly basis directly to your account. </p>
						</td>
					</tr>
					<tr class="faq-row">
						<td><span>Why am I Wait-Listed for a Loan?</span></td>
						<td><img src="img_suredeposit/next.svg" alt="" class="icons2 faq-arrow"></td>
					</tr>
					<tr class="faq-content hidden">
						<td colspan="2" class="flex-colunm">
							<p class="text">Based on your credit history, SureDeposit issues loan only to those who fall
								in the eligible age & CIBIL score criteria.</p>
						</td>
					</tr>
					<tr class="faq-row">
						<td><span>How can I be eligible for a Loan?</span></td>
						<td><img src="img_suredeposit/next.svg" alt="" class="icons2 faq-arrow"></td>
					</tr>
					<tr class="faq-content hidden">
						<td colspan="2" class="flex-colunm">
							<p class="text">Build your credibility by increasing activity on SureDeposit and soon you
								will be eligible too!</p>
						</td>
					</tr>
					<tr class="faq-row">
						<td><span>How safe is my investment with SureDeposit?</span></td>
						<td><img src="img_suredeposit/next.svg" alt="" class="icons2 faq-arrow"></td>
					</tr>
					<tr class="faq-content hidden">
						<td colspan="2" class="flex-colunm">
							<p class="text">At SureDeposit, we take the security of your investment seriously. You can
								be sure in our commitment to securing your assets.</p>
						</td>
					</tr>
					<tr class="faq-row">
						<td><span>What are the benefits of investing with SureDeposit?</span></td>
						<td><img src="img_suredeposit/next.svg" alt="" class="icons2 faq-arrow"></td>
					</tr>
					<tr class="faq-content hidden">
						<td colspan="2" class="flex-colunm">
							<p class="text">With SureDeposit, experience high interest rates on savings, flexible
								deposit and
								withdrawal options, within a safe and secure investment platform.</p>
						</td>
					</tr>
					<tr class="faq-row">
						<td><span>What happens if money gets deducted from my bank account but balance doesn't show in
								SureDeposit?</span></td>
						<td><img src="img_suredeposit/next.svg" alt="" class="icons2 faq-arrow"></td>
					</tr>
					<tr class="faq-content hidden">
						<td colspan="2" class="flex-colunm">
							<p class="text">In that case, either the amount will be added to SureDeposit within 12 hours
								or if payment fails, it will be refunded to the origin bank account within 7 to 10
								working days.</p>
						</td>
					</tr>
					<tr class="faq-row">
						<td><span>What are the rewards I can get?</span></td>
						<td><img src="img_suredeposit/next.svg" alt="" class="icons2 faq-arrow"></td>
					</tr>
					<tr class="faq-content hidden">
						<td colspan="2" class="flex-colunm">
							<p class="text">Receive a ₹50 Joining Bonus, and earn ₹100 reward to refer a
								friend. Your friend will enjoy additional ₹50 as referral reward upon joining.</p>
						</td>
					</tr>
					<tr class="faq-row">
						<td><span>How can I withdraw my rewards?</span></td>
						<td><img src="img_suredeposit/next.svg" alt="" class="icons2 faq-arrow"></td>
					</tr>
					<tr class="faq-content hidden">
						<td colspan="2" class="flex-colunm">
							<p class="text">To withdraw your rewards, navigate to the Rewards section and select the
								Withdraw button. You can withdraw your rewards once the balance exceeds ₹250.
							</p>
						</td>
					</tr>
					<tr class="faq-row">
						<td><span>When can I withdraw my rewards?</span></td>
						<td><img src="img_suredeposit/next.svg" alt="" class="icons2 faq-arrow"></td>
					</tr>
					<tr class="faq-content hidden">
						<td colspan="2" class="flex-colunm">
							<p class="text">You can withdraw your rewards once your balance reaches ₹250 or more. To
								increase your rewards, refer friends and earn ₹100 for each successful referral.</p>
						</td>
					</tr>
					<tr class="faq-row">
						<td><span>I am not able to withdraw my rewards?</span></td>
						<td><img src="img_suredeposit/next.svg" alt="" class="icons2 faq-arrow"></td>
					</tr>
					<tr class="faq-content hidden">
						<td colspan="2" class="flex-colunm">
							<p class="text">To withdraw your rewards, ensure that you and the friends you referred have
								made an investment with SureDeposit.</p>
						</td>
					</tr>
				</tbody>
			</table>
			<p class="h-4 padding margin-bottom"> Feel free to contact us for any other queries, we'll be happy to
				assist you.</p>
		</div>
	</section>

	<section id="nav">
		<div Class="Navbar">
			<li Class="List-Item home" onclick="location.href='/home'">
				<img src="img_suredeposit/home2.svg" alt="Home" class="icons">
				<span Class="List-Item-Name">Home</span>
			</li>
			<li Class="List-Item dash" onclick="location.href='/summary'">
				<img src="img_suredeposit/dash2.svg" alt="Summary" class="icons">
				<span Class="List-Item-Name">Summary</span>
			</li>
			<li Class="List-Item account" onclick="location.href='/profile'">
				<img src="img_suredeposit/user2.svg" alt="Account" class="icons">
				<span Class="List-Item-Name">Account</span>
			</li>
		</div>
	</section>


</body>
<script src="/js_suredeposit/ham.js"></script>
<script src="/js_suredeposit/dropdown.js"></script>
<script>
	document.querySelector('.page-title').innerHTML = "FAQs";
	dropdown();
</script>

</html>