<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta http-equiv=" X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<meta name="description"
		content="Secure your future with a fixed deposit at SureDeposit - offering a world-class 18% return rate. Join today and build your wealth with confidence!">

	<meta property="og:url" content="">
	<meta property="og:type" content="application">
	<meta property="og:title" content="SureDeposit | Secure FDs with the 'Highest Return' in the World!">
	<meta property="og:description"
		content="Secure your future with SureDeposit - the smart choice for high-yield fixed deposits!">
	<meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
	<meta property="og:image" content="img_suredeposit/logo.png">

	<title>SureDeposit | Forgot Password</title>

	<link rel="apple-touch-icon" sizes="180x180" href="img_suredeposit/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img_suredeposit/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img_suredeposit/favicon-16x16.png">
	<link rel="manifest" href="img_suredeposit/site.webmanifest">
	<link rel="stylesheet" href="/css_suredeposit/common.css">
	<link rel="stylesheet" href="/css_suredeposit/signin.css">
</head>

<body>

	<section class="hamburger-menu2 flex-row">
		<div><a href="/signin"><img src="img_suredeposit/close.svg" alt="" class="icons2"></a></div>
		<div><span class="h-6 b color">Forgot Password &nbsp;&nbsp;&nbsp;&nbsp;</span></div>
		<div></div>
	</section>

	<section class="screen">
		<div class="flex-colunm signin-container">
			<form id="signin" class="signin-box" name="signin">
				<div class="fields">
					<label for="cEmail" class="field-name">Email</label>
					<input type="email" value="" class="field-value" id="cEmail" name="cEmail" required
						placeholder="Email">
				</div>
				<div class="flex item-center">
					<button type="button" class="btn" id="submitBtn" onclick="forgotPassword()">Send OTP</button>
				</div>
				<div class="error-box item-center">
					<p id="error-box" class="center"></p>
				</div>
			</form>
			<div class="center signup-popup">
				<span class="h-2">&nbsp;&nbsp; Don't have an account? <a href="/signup" class="linkbtn">Sign
						up</a></span>
			</div>
		</div>
	</section>
</body>
<script src="/js_suredeposit/forgotPassword.js"></script>

</html>