<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta http-equiv=" X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="description"
        content="Secure your future with a fixed deposit at SureDeposit - offering a world-class 18% return rate. Join today and build your wealth with confidence!">

    <meta property="og:url" content="">
    <meta property="og:type" content="application">
    <meta property="og:title" content="SureDeposit | Secure FDs with the 'Highest Return' in the World!">
    <meta property="og:description"
        content="Secure your future with SureDeposit - the smart choice for high-yield fixed deposits!">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <meta property="og:image" content="img_suredeposit/logo.png">

    <title>SureDeposit | Secure FDs with the 'Highest Return' in the World!</title>

    <link rel="apple-touch-icon" sizes="180x180" href="img_suredeposit/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img_suredeposit/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img_suredeposit/favicon-16x16.png">
    <link rel="manifest" href="img_suredeposit/site.webmanifest">
    <link rel="stylesheet" href="/css_suredeposit/common.css">
    <link rel="stylesheet" href="/css_suredeposit/gets.css">

</head>

<body>

    <section class="screen">
        <header>
            <!-- <a href="/signin" class="signin-btn">Sign In &nbsp;&nbsp;&nbsp;</a> -->
            <!-- <img src="img_suredeposit/logo_favicon" alt=""> -->
            <a href="/signup1" class="skip-btn">Skip</a>
        </header>
        <div class="logo-box">
            <img src="img_suredeposit/logo.png" alt="Logo" id="logo" />
        </div>
        <main class="margin-top">
            <div class="container active">
                <h1>Start Investing <br> in Your Future <br> Today!</h1>
                <span>Investing can seem <br> overwhelming, <br> then why not play safe <br> with Us</span>
            </div>
            <div class="container hidden">
                <h1>Introducing SureDeposit</h1>
                <span>Invest & Borrow service<br />@15% Interest rates! <br> Guaranteed Returns, <br> Guaranteed Peace
                    of Mind!</span>
            </div>
            <div class="container hidden">
                <h1>Invest & save <br /> your money <br /> with no risk!</h1>
                <span> Start now for as low as ₹1000. <br> Start growing your money <br> today, no matter the
                    budget.</span>
            </div>
        </main>
        <footer class="flex-colunm sign-in-box">
            <div class="slider-dots margin-bottom item-center">
                <span class="slider-dot active"></span>
                <span class="slider-dot"></span>
                <span class="slider-dot"></span>
            </div>
            <div class="box-container flex-colunm item-end active">
                <button type="button" class="btn btn-grey"><img src="img_suredeposit/next.svg" class="icons"
                        alt=""></button>
            </div>
            <div class="box-container flex-colunm item-end hidden">
                <button type="button" class="btn btn-grey"><img src="img_suredeposit/next.svg" class="icons"
                        alt=""></button>
            </div>
            <div class="box-container flex-colunm item-center hidden">
                <button type="button" class="btn">Get Started</button>
            </div>
        </footer>
    </section>

</body>
<script src="/js_suredeposit/gets.js"></script>

</html>