<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta http-equiv=" X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="description"
        content="Secure your future with a fixed deposit at SureDeposit - offering a world-class 18% return rate. Join today and build your wealth with confidence!">

    <meta property="og:url" content="">
    <meta property="og:type" content="application">
    <meta property="og:title" content="SureDeposit | Secure FDs with the 'Highest Return' in the World!">
    <meta property="og:description"
        content="Secure your future with SureDeposit - the smart choice for high-yield fixed deposits!">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <meta property="og:image" content="img_suredeposit/logo.png">

    <title>SureDeposit | Help & Support</title>

    <link rel="apple-touch-icon" sizes="180x180" href="img_suredeposit/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img_suredeposit/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img_suredeposit/favicon-16x16.png">
    <link rel="manifest" href="img_suredeposit/site.webmanifest">
    <link rel="stylesheet" href="/css_suredeposit/common.css">
    <link rel="stylesheet" href="/css_suredeposit/help.css">

</head>

<body>

    <section class="hamburger-menu flex-colunm">
        <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle">
            <span></span>
        </label>
        <div class="flex item-center">
            <h2 class="h-6 page-title color"></h2>
        </div>
        <ul class="menu__box flex-colunm">
            <a class="btn btn-grey margin-left-right menu__item" href="/profile">My Account</a>
            <li class="menu__item">
                <a href="/deposit"><img src="img_suredeposit/add.svg" alt="" class="icons2">
                    Deposit</a>
            </li>
            <li class="menu__item">
                <a href="/withdraw"><img src="img_suredeposit/withdraw.png" alt="" class="icons2">
                    Withdraw</a>
            </li>
            <!-- <li class="menu__item">
				<a href="/history"><img src="img_suredeposit/history.svg" alt="" class="icons2">
					History</a>
			</li> -->
            <li class="menu__item">
                <a href="/help"><img src="img_suredeposit/help.svg" alt="" class="icons2">
                    Help & Support</a>
            </li>
            <li class="menu__item">
                <a href="/rewards"><img src="img_suredeposit/gift.svg" alt="" class="icons2">
                    Rewards</a>
            </li>
            <li class="menu__item">
                <a href="/settings"><img src="img_suredeposit/settings.svg" alt="" class="icons2">
                    Settings</a>
            </li>
            <a class="btn btn-grey margin-left-right menu__item sign-out" id="signout" href="/auth/signout">Sign out</a>
        </ul>
    </section>

    <section class="screen">
        <div id="helps" class="flex-colunm">
            <h2 class="center">Help & Support</h2>
            <div>
                <span class="h-6 b">Need help?</span>
                <p class="h-4">Raise a ticket to get help with your issue</p>
            </div>
            <div class="gery-box-big margin-left-right flex-colunm item-center margin-bottom">
                <span class="h-6 b">You have <span id="tickets"></span> active tickets</span>
                <a class="btn" id="raise-ticket" href="/addticket">Raise a Ticket</a>
                <a class="btn hidden" id="view-ticket" href="/viewticket">Ticket Status</a>
            </div>
            <h3 class="center">Help with other queries</h3>
            <table>
                <!-- <tr onclick="location.href='genissues.html'">
                    <td><span>General issues</span></td>
                    <td><img src="img_suredeposit/next.svg" alt="" class="icons2"></td>
                </tr> -->
                <tr onclick="location.href='/faqs'">
                    <td> <span>FAQs</span></td>
                    <td><img src="img_suredeposit/next.svg" alt="" class="icons2"></td>
                </tr>
                <!-- <tr onclick="location.href='/appguide'">
                    <td> <span>App usage guide</span></td>
                    <td><img src="img_suredeposit/next.svg" alt="" class="icons2"></td>
                </tr> -->
                <!-- <tr onclick="location.href='tnc.html'">
                    <td> <span>Legal, Terms & Conditions</span></td>
                    <td><img src="img_suredeposit/next.svg" alt="" class="icons2"></td>
                </tr> -->
                <!-- <tr onclick="location.href=''">
                    <td></td>
                    <td><img src="img_suredeposit/next.svg" alt="" class="icons2"></td>
                </tr> -->
                <tr class="faq-row">
                    <td><span>Contact us</span></td>
                    <td><img src="img_suredeposit/next.svg" alt="" class="icons2 faq-arrow"></td>
                </tr>
                <tr class="faq-content margin-bottom hidden">
                    <td colspan="2" class="flex-colunm item-center">
                        <span class="text2 center color">
                            <a class="color" href="mailto:contact@suredeposit.in">
                                Email: contact@suredeposit.in
                            </a>
                        </span>
                        <span class="text2 center color">OR</span>
                        <span class="text2 center color">WhatsApp: 9484480809</span>
                    </td>
                </tr>
            </table>
        </div>
    </section>

    <section id="nav">
        <div Class="Navbar">
            <li Class="List-Item home" onclick="location.href='/home'">
                <img src="img_suredeposit/home2.svg" alt="Home" class="icons">
                <span Class="List-Item-Name">Home</span>
            </li>
            <li Class="List-Item dash" onclick="location.href='/summary'">
                <img src="img_suredeposit/dash2.svg" alt="Summary" class="icons">
                <span Class="List-Item-Name">Summary</span>
            </li>
            <li Class="List-Item account" onclick="location.href='/profile'">
                <img src="img_suredeposit/user2.svg" alt="Account" class="icons">
                <span Class="List-Item-Name">Account</span>
            </li>
        </div>
    </section>


</body>
<script src="/js_suredeposit/ham.js"></script>
<script src="/js_suredeposit/help.js"></script>
<script>
    document.querySelector('.page-title').innerHTML = "Help & Support";
    const faqRows = document.querySelectorAll('.faq-row');

    faqRows.forEach((row) => {
        const arrow = row.querySelector('.faq-arrow');

        row.addEventListener('click', function () {
            const content = row.nextElementSibling;

            if (content.classList.contains('faq-content')) {
                // Toggle the height of the content row
                content.classList.toggle('open');
                content.classList.toggle('hidden');
                arrow.classList.toggle('open');

                // Rotate the arrow image in the clicked row
                if (content.classList.contains('open')) {
                    content.style.height = content.scrollHeight + 'px';
                } else {
                    content.style.height = 0;
                }

                // Rotate the arrow image in the clicked row
                if (arrow.classList.contains('open')) {
                    arrow.style.transform = 'rotate(90deg)';
                } else {
                    arrow.style.transform = 'rotate(0deg)';
                }
            }
        });
    });

</script>

</html>