<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta http-equiv=" X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<meta name="description"
		content="Secure your future with a fixed deposit at SureDeposit - offering a world-class 15% return rate. Join today and build your wealth with confidence!">

	<meta property="og:url" content="www.suredeposit.in">
	<meta property="og:type" content="website">
	<meta property="og:title" content="SureDeposit | The World's Highest Return on Investments! | suredeposit.in">
	<meta property="og:description"
		content="Secure your future with SureDeposit - offering a world-class 15% return rate!">
	<meta property="og:image" content="img_landingPage/logo_favicon.png">

	<title>SureDeposit | The World's Highest Guaranteed Returns! | suredeposit.in</title>

	<link rel="apple-touch-icon" sizes="150x150" href="img_landingPage/logo_favicon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img_landingPage/logo_favicon.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img_landingPage/logo_favicon.png">
	<!-- <link rel="manifest" href="img/site.webmanifest"> -->
	<link rel="stylesheet" href="/css_suredeposit/common.css">
	<link rel="stylesheet" href="/css_suredeposit/landingPages.css">
	<link rel="stylesheet" href="/css_suredeposit/landingPageMain.css">
	<link rel="stylesheet" media="screen and (min-width: 140px) and (max-width: 450px)"
		href="/css_suredeposit/mobile.css">
	<link rel="stylesheet" media="screen and (min-width: 451px) and (max-width: 800px)"
		href="/css_suredeposit/mobile.css">
	<script defer src="/js_suredeposit/landingPage.js"></script>

</head>

<body>
	<section id="navbar" class="scroll">
		<img src="img_landingPage/logo.png" alt="Logo" id="logo" onclick="location.href = '/'" class="cur-point">
		<div id="nav-links" class="flex-row">
			<a class="linkbtn active" href="/">Home</a>
			<a class="linkbtn" href="/aboutus">About Us</a>
			<a class="linkbtn" href="/contact">Contact Us</a>
			<a class="linkbtn" href="/signin">Login</a>
		</div>
	</section>
	<section id="hero" class="scroll">
		<div class="hero-grid">
			<div id="heroContent" class="flex-colunm">
				<h1 class="main-heading">Streamline your Investing Journey with Hassle-Free 15% Returns</h1>
				<div id="subheading" class="flex-colunm">
					<h3 class="sub-heading ">Start investing for just as low as ₹1000!</h3>
					<h3 class="sub-heading ">Invest or borrow at 15% Interest!</h3>
				</div>
				<div class="flex-row btns item-space">
					<button class="btn" onclick="register()">Invest Now</button>
					<a href="https://play.google.com/store/apps/details?id=com.Pageturners_tech.sure_deposit_AIA_store"><img
							src="img_landingPage/playstore.png" alt="" id="playBtnHero" class="play"></a>
				</div>
			</div>
			<div id="heroImgBox" class="flex-colunm">
				<img src="img_landingPage/heroScreens.png" alt="" id="heroImg">
			</div>
		</div>
	</section>

	<section id="features" class="scroll padding-15">
		<div class="flex-row item-center" id="featureBox">
			<div class="flex-colunm feature-item">
				<div class="flex-row feature-title-box">
					<img src="img_landingPage/coins.svg" alt="" class="icons2">
					<span class="feature-title">Minimum Deposit Amount</span>
				</div>
				<span class="feature-desc text">Low Minimum Deposits starting from just ₹1000 so that investing is never
					a burden.
				</span>
			</div>
			<div class="flex-colunm feature-item">
				<div class="flex-row feature-title-box">
					<img src="img_landingPage/percent.svg" alt="" class="icons2">
					<span class="feature-title">High Interest rates</span>
				</div>
				<span class="feature-desc text">Earn a World leading 15% Interest on your Investment, which is fixed and
					guaranteed.
				</span>
			</div>
			<div class="flex-colunm feature-item">
				<div class="flex-row feature-title-box">
					<img src="img_landingPage/clock.svg" alt="" class="icons2">
					<span class="feature-title">Instant Loans</span>
				</div>
				<span class="feature-desc text">Get Instant loan approval with no paperwork at 1.25% monthly interest.
				</span>
			</div>
		</div>
	</section>

	<section id="intro" class="padding-12 flex-colunm item-center margin-top-bottom">
		<div class="scroll flex-colunm item-center">
			<div class="headers">
				<h2 class="headings center">Are you tired of searching the best way to Invest your savings?</h2>
			</div>
			<iframe
				src="https://www.youtube.com/embed/DNew9FBQENU?rel=0?version=3&autoplay=1&controls=0&&showinfo=0&loop=1&hd=1"
				allow="autoplay; encrypted-media" id="video" frameborder="0" allowfullscreen class="margin-top-bottom"
				loading="lazy"></iframe>
		</div>
		<div class="flex-colunm item-center padding-top-bottom">
			<div class="scroll headers margin-top-bottom">
				<h3 class="sub-heading color center">Stop your search now and Explore a new world of Investing using
					SureDeposit
				</h3>
			</div>
			<div class="scroll Bodytext margin-top-bottom">
				<span class="bullets">
					SureDeposit is an investment platform that offers Investment and Loans for individuals who aspire
					to earn high returns on their savings with low risk. With our guaranteed 15% interest rates, you can
					be sure that your investment will grow over time. And with a low minimum deposit amount of just
					₹1000, you don't need much to take advantage of our offerings.
				</span>
			</div>
			<img src="img_landingPage/MainScreen.png" alt="" id="screens" loading="lazy" class="scroll">
			<div class="scroll headers">
				<h3 class="sub-heading color center">Secure your future with SureDeposit - The smart choice for
					all your Banking needs.
				</h3>
			</div>
		</div>
	</section>

	<section id="benefits" class="scroll">
		<div class="flex-row item-center" id="benifitBox">
			<div class="phone-img-box">
				<img src="img_landingPage/ReinvestScreens.png" alt="" class="phone-img" loading="lazy">
			</div>
			<div class="flex-colunm" id="benefitMain">
				<h2 class="benefit-title headers headings">You get a ton of features and benefits too!</h2>
				<span class="benefit-desc text2">Apart from the Basic features other Investment providers
					give, we offer you many extra benefits which are quite exciting.
				</span>
				<ul class="benefit-list flex-colunm margin-left-right margin-top-bottom">
					<li class="flex-row bullets benefit-item">Low Minimum Deposits - Starting from ₹1000</li>
					<li class="flex-row bullets benefit-item">Quick Withdrawal - Credited within 48 hours* </li>
					<li class="flex-row bullets benefit-item">SurePromise - Earn 15% Interest without risk</li>
					<li class="flex-row bullets benefit-item">Monthly Interest Payouts & Flexible Tenure</li>
					<li class="flex-row bullets benefit-item">Reinvest feature - Enjoy monthly compounding</li>
					<li class="flex-row bullets benefit-item">Multiple Payment methods including UPI</li>
					<li class="flex-row bullets benefit-item">Instant Loan at 1.25% monthly interest</li>
					<li class="flex-row bullets benefit-item">Earn and Claim exciting Rewards</li>
				</ul>
			</div>
		</div>
	</section>

	<section id="getStarted" class="scroll">
		<div class="flex-row item-center" id="gsBox">
			<div class="flex-colunm padding-top-bottom" id="gsMain">
				<h2 class="gs-title headers headings">So how to Get Started?</h2>
				<span class="benefit-desc text2">Investing with us is simple & hassle-free: with no paper
					works.</span>
				<div class="flex-colunm item-center" id="steps">
					<div class="flex-colunm item-space step-item">
						<h4 class="sub-heading color step-title"> <img src="img_landingPage/play.svg" alt=""
								class="icons2" loading="lazy">
							Download Our App
						</h4>
						<span class="text color step-desc">Get Started with SureDeposit</span>
					</div>
					<div class="flex-colunm item-space step-item">
						<h4 class="sub-heading color step-title"> <img src="img_landingPage/coins.svg" alt=""
								class="icons2" loading="lazy">
							Deposit your Amount
						</h4>
						<span class="text color step-desc">Invest starting from just ₹1000 </span>
					</div>
					<div class="flex-colunm item-space step-item">
						<h4 class="sub-heading color step-title"> <img src="img_landingPage/relax.svg" alt=""
								class="icons2" loading="lazy"> Relax
							and Enjoy
						</h4>
						<span class="text color step-desc">Get your interests every month</span>
					</div>
				</div>
			</div>
			<div class="phone-img-box">
				<img src="img_landingPage/getsScreens.png" alt="" class="phone-img" loading="lazy">
			</div>
		</div>
	</section>

	<section id="faq" class="scroll">
		<div id="faqBox" class="flex-colunm">
			<h2 class="faqs-title headers main-heading center">FAQs</h2>
			<span class="faq-desc Bodytext text2">Got a question? We've got you covered! Check out some of the most
				commonly asked
				questions about our Investments. Feel free to contact us for any other queries, we'll be happy to
				assist you.
			</span>
			<div id="faqs" class="flex-colunm">
				<details class="faq-item">
					<summary class="sub-heading flex-row faq-title cur-point semi-b">Can I withdraw my investment before
						the
						term ends? <img src="img_landingPage/next.svg" alt="" class="icons2"> </summary>
					<span class="text">Yes, you can withdraw your investment amount at any time, although you may incur
						a Investment Withdrawal penalty.
					</span>
				</details>
				<div class="hrstyle"></div>
				<details class="faq-item">
					<summary class="sub-heading flex-row faq-title cur-point semi-b">Can I withdraw my interest anytime?
						<img src="img_landingPage/next.svg" alt="" class="icons2">
					</summary>
					<span class="text">Yes, with SureDeposit, you have flexible deposit and withdrawal options, which
						means you can withdraw your interest anytime you want.
					</span>
				</details>
				<div class="hrstyle"></div>
				<details class="faq-item">
					<summary class="sub-heading flex-row faq-title cur-point semi-b">How safe is my investment with
						SureDeposit?
						<img src="img_landingPage/next.svg" alt="" class="icons2">
					</summary>
					<span class="text">We at SureDeposit take the security of your investment seriously. Your investment
						is safe with us and we guarantee it.
					</span>
				</details>
				<div class="hrstyle"></div>
				<details class="faq-item">
					<summary class="sub-heading flex-row faq-title cur-point semi-b">What are the benefits of investing
						with SureDeposit? <img src="img_landingPage/next.svg" alt="" class="icons2">
					</summary>
					<span class="text">With SureDeposit, you can enjoy high interest rates, get instant loans , flexible
						deposit and withdrawal options, and a safe and secure investment platform.
					</span>
				</details>
			</div>
		</div>
	</section>

	<section id="testimonials">
		<div id="tBox" class="flex-colunm">
			<h2 class="scroll faqs-title headers main-heading center">Testimonials</h2>
			<div class="scroll padding-12">
				<span class=" faq-desc text2">Our satisfied customers speak for themselves. Look what they
					have to
					say about their experience with SureDeposit and why they trust us to provide the highest returns in
					the
					world. Read their stories below and join the growing number of investors who have made the smart
					choice
					with SureDeposit.</span>
			</div>
			<div id="tMain" class="flex-row">
				<div class="scroll t-item flex-colunm">
					<span class="t-desc color">I am very lucky to have my money invested on SureDeposit. I like
						many
						things about them but I swear the two qualities I have not seen with any other services include
						returns on time without any delay and secondly the minimum deposit plan of Rs. 1000, which is a
						fabulous !!</span>
					<div class="Bodytext flex-colunm">
						<div class="t-photo-box"><img src="img_landingPage/Testimonial1.jpeg" alt="" class="t-img"
								loading="lazy">
						</div>
						<span class="sub-heading color t-name">Dr. Jaideep Sharma</span>
						<span class="text color">SureMember since Feb '23</span>
					</div>
				</div>
				<div class="scroll t-item flex-colunm">
					<span class="t-desc color">SureDeposit is one of my favourite apps. I was very broke when I
						discovered
						it and was amazed to get fixed interest on my fixed deposit and that too 1.25% monthly. They
						assisted me to understand the importance of money management and helped me grow in my life.
					</span>
					<div class="Bodytext flex-colunm">
						<div class="t-photo-box"><img src="img_landingPage/Testimonial2.jpeg" alt="" class="t-img"
								loading="lazy">
						</div>
						<span class="sub-heading color t-name">Dharam Sinh Zala</span>
						<span class="text color">SureMember since March '23</span>
					</div>
				</div>
				<div class="scroll t-item flex-colunm">
					<span class="t-desc color">For me, the first and most prior thing is trust and that is what I love
						about them. I have been using their services for past couple of months and I must say, I am very
						much satisfied with my experience. I receive the interest on my Investment on time and
						withdrawal is
						also fast and easy. Even the user interface is so friendly, love it.</span>
					<div class="Bodytext flex-colunm">
						<div class="t-photo-box"><img src="img_landingPage/Testimonial3.jpeg" alt="" class="t-img"
								loading="lazy">
						</div>
						<span class="sub-heading color t-name">Aryan Purohit</span>
						<span class="text color">SureMember since Feb '23</span>
					</div>
				</div>
			</div>
		</div>

	</section>

	<section id="lastCall" class="padding-8 flex-colunm item-center margin-top-bottom">
		<div class="headers">
			<h2 class="headings lastCall-title center">So what’s your excuse?</h2>
			<h2 class="headings lastCall-title center margin-top-bottom">Start your investment with SureDeposit right
				away for free!
			</h2>
		</div>
		<!-- <a href="https://play.google.com/store/apps/details?id=com.Pageturners_tech.sure_deposit_AIA_store"
			class="btn">Invest Now</a> -->
		<button class="btn btn-grey" id="qrBtn">Download App <img src="img_landingPage/qr-code.gif"
				id="qrAnimation"></button>
		<div id="qrBox" class="flex-colunm item-center hidden">
			<img src="img_landingPage/qr.png" alt="" id="qr" loading="lazy" class="margin-top-bottom">
			<h2 class="headings lastCall-title center margin-top-bottom">Scan to Download!</h2>
		</div>
	</section>

	<footer class="flex-colunm">
		<div class="padding-15 flex-row footer">
			<div class="flex-colunm menu">
				<img src="img_landingPage/logo_favicon.png" alt="" id="favicon" loading="lazy">
			</div>
			<div class="flex-colunm menu">
				<span class="sub-heading color menu-header">Website</span>
				<a class="linkbtn" href="/home">Dashboard</a>
				<a class="linkbtn" href="/signup">Signup</a>
				<a class="linkbtn" href="/signin">Login</a>
			</div>
			<div class="flex-colunm menu">
				<span class="sub-heading color menu-header">Help Topics</span>
				<a class="linkbtn" href="/aboutus">About Us</a>
				<a class="linkbtn" href="/contact">Contact Us</a>
				<a class="linkbtn" href="/faq">FAQs</a>
			</div>
		</div>
		<div class="padding-15 flex-row footer">
			<div class="flex-colunm menu">
				<span class="sub-heading color menu-header">Policies</span>
				<a class="linkbtn" href="/tnc">Terms & Conditions</a>
				<a class="linkbtn" href="/privacy-policy">Privacy Policy</a>
			</div>
			<div class="flex-colunm menu">
				<span class="sub-heading color menu-header">Contact Us</span>
				<span class="bullets"><a target="_blank" rel="noopener noreferrer" class="linkbtn"
						href="mailto:contact@unitybooks.in">contact@suredeposit.in</a></span>
				<span class="bullets">
					<a target="_blank" rel="noopener noreferrer" class="linkbtn"
						href="https://api.whatsapp.com/message/HJFV7CZRCD7BG1?autoload=1&amp;app_absent=0">
						9484480809</a>
				</span>
			</div>
			<div class="flex-colunm menu app-links">
				<a href="https://play.google.com/store/apps/details?id=com.Pageturners_tech.sure_deposit_AIA_store"><img
						src="img_landingPage/playstore.png" alt="" id="playBtn" loading="lazy" class="play"></a>
			</div>
		</div>
		<div class="flex-colunm item-center">
			<h4 class="sub-heading">Crafted with <img src="img_landingPage/fav-fill.svg" alt="" id="heart"
					loading="lazy"> in
				India</h4>
			<p id="tnc" class="text center">Copyright © 2023 SureDeposit™. All rights reserved.</p>
			<hr class="sto">
		</div>
	</footer>

</body>

</html>