<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta http-equiv=" X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<meta name="description"
		content="Secure your future with a fixed deposit at SureDeposit - offering a world-class 15% return rate. Join today and build your wealth with confidence!">

	<meta property="og:url" content="www.suredeposit.in">
	<meta property="og:type" content="website">
	<meta property="og:title" content="SureDeposit | The World's Highest Return on Investments! | suredeposit.in">
	<meta property="og:description"
		content="Secure your future with SureDeposit - offering a world-class 15% return rate!">
	<meta property="og:image" content="img_landingPage/logo_favicon.png">

	<title>Privacy Policy | SureDeposit | suredeposit.in</title>

	<link rel="apple-touch-icon" sizes="150x150" href="img_landingPage/logo_favicon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img_landingPage/logo_favicon.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img_landingPage/logo_favicon.png">
	<!-- <link rel="manifest" href="img/site.webmanifest"> -->
	<link rel="stylesheet" href="/css_suredeposit/common.css">
	<link rel="stylesheet" href="/css_suredeposit/landingPages.css">
	<link rel="stylesheet" media="screen and (min-width: 140px) and (max-width: 450px)"
		href="/css_suredeposit/mobile.css">
	<link rel="stylesheet" media="screen and (min-width: 451px) and (max-width: 800px)"
		href="/css_suredeposit/mobile.css">
	<script defer src="/js_suredeposit/landingPage.js"></script>

</head>

<body>
	<section id="navbar" class="scroll">
		<img src="img_landingPage/logo.png" alt="Logo" id="logo" onclick="location.href = '/'" class="cur-point">
		<div id="nav-links" class="flex-row">
			<a class="linkbtn" href="/">Home</a>
			<a class="linkbtn" href="/aboutus">About Us</a>
			<a class="linkbtn" href="/contact">Contact Us</a>
			<a class="linkbtn" href="/signin">Login</a>
		</div>
	</section>

	<main class="margin-top margin-bottom">
		<section class="margin-top margin-bottom padding-12">
			<h1 class="main-heading center margin-bottom">Privacy Policy</h1>
			<h3 class="sub-heading margin-top margin-bottom">Effective Date(Previously Updated on): 19th Sep 2023</h3>
			<p class="bullets center">At SureDeposit, safeguarding your privacy is of utmost importance to us. We are
				committed to ensuring the security and confidentiality of your personal information while providing you
				with a trusted and user-friendly peer-to-peer lending platform. This Privacy Policy outlines how we
				collect, use, disclose, and protect your data when you use our website and mobile application. By
				accessing or using SureDeposit's services, you consent to the practices described in this Privacy
				Policy.
			</p>
		</section>

		<section id="contents" class="padding-12">
			<div class="flex-colunm">
				<h2 class="headings">Table of Contents</h2>
				<ol class="flex-colunm">
					<li><a class="linkbtn" href="#introduction">Introduction</a></li>
					<li><a class="linkbtn" href="#information-collect">Information We Collect</a></li>
					<li><a class="linkbtn" href="#use-of-information">How We Use Your Information</a></li>
					<li><a class="linkbtn" href="#information-sharing">Information Sharing</a></li>
					<li><a class="linkbtn" href="#security-measures">Security Measures</a></li>
					<li><a class="linkbtn" href="#data-retention">Data Retention</a></li>
					<li><a class="linkbtn" href="#cookies-tracking">Cookies and Tracking Technologies</a></li>
					<li><a class="linkbtn" href="#childrens-privacy">Children's Privacy</a></li>
					<li><a class="linkbtn" href="#your-choices">Your Choices</a></li>
					<li><a class="linkbtn" href="#changes-policy">Changes to this Privacy Policy</a></li>
					<li><a class="linkbtn" href="#contact">Contact Us</a></li>
				</ol>
			</div>
		</section>

		<section id="introduction" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">1. Introduction</h2>
			<p class="text2">SureDeposit is dedicated to providing a transparent and secure platform for peer-to-peer
				lending, where investors can grow their savings and borrowers can access fair and accessible loans. As
				part of our commitment to responsible financial services, we collect and process personal information
				only as necessary to provide our services and to fulfill legal and regulatory requirements.</p>
			<p class="text2">We understand that you may have concerns about the collection and use of your data. This
				Privacy Policy is designed to address those concerns and provide you with a clear understanding of how
				we handle your information.</p>
		</section>

		<section id="information-collect" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">2. Information We Collect</h2>
			<p class="text2">SureDeposit collects various types of information to provide and improve our services. The
				information we collect falls into the following categories:</p>
			<ol class="flex-colunm">
				<li class="bullets2 b">Personal Information:<p class="bullets ub margin-top-bottom">To create and manage
						your
						account, we collect the following personal details:</p>
					<ol class="flex-colunm margin-top-bottom">
						<li class="bullets ub">Full Name</li>
						<li class="bullets ub">Address</li>
						<li class="bullets ub">Date of Birth</li>
						<li class="bullets ub">Contact Information (Email Address, Phone Number)</li>
					</ol>
				</li>
				<li class="bullets2 b">Financial Information:<p class="bullets ub margin-top-bottom">To facilitate
						investments
						and withdrawals, we collect the following financial data:</p>
					<ol class="flex-colunm margin-top-bottom">
						<li class="bullets ub">Bank Account Details</li>
						<li class="bullets ub">Transaction History</li>
					</ol>
				</li>
				<li class="bullets2 b">Identity Verification:<p class="bullets ub margin-top-bottom">In compliance with
						KYC (Know
						Your Customer) regulations, we may collect government-issued identification documents, such
						as:</p>
					<ol class="flex-colunm margin-top-bottom">
						<li class="bullets ub">Passport</li>
						<li class="bullets ub">Driver's License</li>
						<li class="bullets ub">National ID</li>
					</ol>
				</li>
				<li class="bullets2 b">Usage Data:<p class="bullets ub margin-top-bottom">We automatically collect
						information
						about your interactions with our platform, which may include:</p>
					<ol class="flex-colunm margin-top-bottom">
						<li class="bullets ub">IP Addresses</li>
						<li class="bullets ub">Device Information</li>
						<li class="bullets ub">Browser Type</li>
						<li class="bullets ub">Browsing History</li>
					</ol>
				</li>
			</ol>
		</section>

		<section id="use-of-information" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">3. How We Use Your Information</h2>
			<p class="text2">SureDeposit uses the information we collect for the following purposes:</p>
			<ol class="flex-colunm">
				<li class="bullets2 b">To Provide Services: <p class="bullets ub margin-top-bottom">Your personal and
						financial information is used to create and manage your account, process investments, and
						facilitate withdrawals.</p>
				</li>
				<li class="bullets2 b">Risk Assessment: <p class="bullets ub margin-top-bottom">We use data, including
						credit history and identity verification, to assess the risk associated with borrowers and
						ensure responsible lending practices.</p>
				</li>
				<li class="bullets2 b">Communications: <p class="bullets ub margin-top-bottom">We may contact you
						regarding account updates, important announcements, or marketing information, provided you have
						consented to such communications.</p>
				</li>
				<li class="bullets2 b">Security: <p class="bullets ub margin-top-bottom">Your information is used to
						maintain the security and integrity of our platform, detect and prevent fraud, and comply with
						legal obligations.</p>
				</li>
			</ol>
		</section>

		<section id="information-sharing" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">4. Information Sharing</h2>
			<p class="text2">SureDeposit shares your information only as necessary to provide our services and as
				outlined in this Privacy Policy:</p>
			<ol class="flex-colunm">
				<li class="bullets2 b">Third-Party Service Providers: <p class="bullets ub margin-top-bottom">We may
						share your information with trusted third-party service providers to help us operate our
						platform and deliver services to you. These providers are contractually obligated to safeguard
						your data.</p>
				</li>
				<li class="bullets2 b">Legal Requirements: <p class="bullets ub margin-top-bottom">We may disclose your
						information to comply with applicable laws, regulations, or legal processes.</p>
				</li>
				<li class="bullets2 b">Business Transfers: <p class="bullets ub margin-top-bottom">In the event of a
						merger, acquisition, or sale of assets, your information may be transferred to the new entity.
						You will be notified of such changes.</p>
				</li>
			</ol>
		</section>

		<section id="security-measures" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">5. Security Measures</h2>
			<p class="text2">At SureDeposit, your security is paramount. We implement stringent security measures to
				protect your personal information from unauthorized access, disclosure, alteration, or destruction. Some
				of our security practices include:</p>
			<ol class="flex-colunm">
				<li class="bullets2 b">Encryption: <p class="bullets ub margin-top-bottom">We use encryption protocols
						to protect data during transmission.</p>
				</li>
				<li class="bullets2 b">Access Control: <p class="bullets ub margin-top-bottom">Your data is stored
						securely and is accessible only to authorized personnel.</p>
				</li>
				<li class="bullets2 b">Regular Audits: <p class="bullets ub margin-top-bottom">We conduct regular
						security audits to identify and mitigate vulnerabilities.</p>
				</li>
			</ol>
			<p class="text2">While we take every possible precaution to protect your data, it's essential to keep in
				mind that no online platform is entirely immune to risks. You should also take precautions to protect
				your account, such as using strong passwords and not sharing your login credentials.</p>
		</section>

		<section id="data-retention" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">6. Data Retention</h2>
			<p class="text2">We retain your information for as long as necessary to provide our services, fulfill legal
				obligations, resolve disputes, and enforce agreements. You have the right to request the deletion of
				your account and data, subject to applicable laws.</p>
		</section>

		<section id="cookies-tracking" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">7. Cookies and Tracking Technologies</h2>
			<p class="text2">SureDeposit uses cookies and similar technologies to enhance user experience, monitor
				website performance, and analyze user behavior. Cookies are small pieces of data that are stored on your
				device when you visit a website. These technologies help us:</p>
			<ol class="flex-colunm">
				<li class="bullets2 b">Remember your preferences and settings.</li>
				<li class="bullets2 b">Analyze how you use our platform.</li>
				<li class="bullets2 b">Deliver personalized content and advertisements.</li>
			</ol>
			<p class="text2">You can control your cookie preferences through your browser settings. However, disabling
				cookies may affect the functionality of our platform.</p>
		</section>

		<section id="childrens-privacy" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">8. Children's Privacy</h2>
			<p class="text2">SureDeposit services are not intended for individuals under the age of 18. We do not
				knowingly collect or store information from minors. If you believe that a minor has provided us with
				their personal information, please contact us, and we will take appropriate steps to address the issue.
			</p>
		</section>

		<section id="your-choices" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">9. Your Choices</h2>
			<p class="text2">You have certain rights and choices regarding your personal information:</p>
			<ol class="flex-colunm">
				<li class="bullets2 b">Access and Correction: <p class="bullets ub margin-top-bottom">You may access,
						correct, update, or delete your personal information through your account settings or by
						contacting us.</p>
				</li>
				<li class="bullets2 b">Marketing Communications: <p class="bullets ub margin-top-bottom">You may opt-out
						of receiving marketing communications from us at any time.</p>
				</li>
			</ol>
		</section>

		<section id="changes-privacy" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">10. Changes to this Privacy Policy</h2>
			<p class="text2">SureDeposit may update this Privacy Policy to reflect changes in our practices or legal
				requirements. We will notify users of significant changes. Your continued use of our platform after such
				modifications constitutes your acceptance of the revised Privacy Policy.</p>
		</section>

		<section id="contact" class="flex-colunm item-center margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">11. Contact Us</h2>
			<p class="text2">If you have questions or concerns about this Privacy Policy or our data practices, please
				contact us. We value your privacy and will respond promptly to address your inquiries.</p>
			<p class="text2 margin-bottom">Thank you for entrusting SureDeposit with your financial information. We are
				committed to
				protecting your privacy and ensuring the security of your data as you embark on your investment journey
				with us.</p>
			<a class="btn margin-top margin-bottom" href="/contact">Contact Us</a>
		</section>

		<p class="text2 margin-top margin-bottom center padding-12">
			Thank you for entrusting SureDeposit with your financial information. We are committed to protecting your
			privacy and ensuring the security of your data as you embark on your investment journey with us.
		</p>
	</main>

	<footer class="flex-colunm">
		<div class="padding-15 flex-row footer">
			<div class="flex-colunm menu">
				<img src="img_landingPage/logo_favicon.png" alt="" id="favicon" loading="lazy">
			</div>
			<div class="flex-colunm menu">
				<span class="sub-heading color menu-header">Website</span>
				<a class="linkbtn" href="/home">Dashboard</a>
				<a class="linkbtn" href="/signup">Signup</a>
				<a class="linkbtn" href="/signin">Login</a>
			</div>
			<div class="flex-colunm menu">
				<span class="sub-heading color menu-header">Help Topics</span>
				<a class="linkbtn" href="/aboutus">About Us</a>
				<a class="linkbtn" href="/contact">Contact Us</a>
				<a class="linkbtn" href="/faq">FAQs</a>
			</div>
		</div>
		<div class="padding-15 flex-row footer">
			<div class="flex-colunm menu">
				<span class="sub-heading color menu-header">Policies</span>
				<a class="linkbtn" href="/tnc">Terms & Conditions</a>
				<a class="linkbtn" href="/privacy-policy">Privacy Policy</a>
			</div>
			<div class="flex-colunm menu">
				<span class="sub-heading color menu-header">Contact Us</span>
				<span class="bullets"><a target="_blank" rel="noopener noreferrer" class="linkbtn"
						href="mailto:contact@unitybooks.in">contact@suredeposit.in</a></span>
				<span class="bullets">
					<a target="_blank" rel="noopener noreferrer" class="linkbtn"
						href="https://api.whatsapp.com/message/HJFV7CZRCD7BG1?autoload=1&amp;app_absent=0">
						9484480809</a>
				</span>
			</div>
			<div class="flex-colunm menu app-links">
				<a href="https://play.google.com/store/apps/details?id=com.Pageturners_tech.sure_deposit_AIA_store"><img
						src="img_landingPage/playstore.png" alt="" id="playBtn" loading="lazy" class="play"></a>
			</div>
		</div>
		<div class="flex-colunm item-center">
			<h4 class="sub-heading">Crafted with <img src="img_landingPage/fav-fill.svg" alt="" id="heart"
					loading="lazy"> in
				India</h4>
			<p id="tnc" class="text2 center">Copyright © 2023 SureDeposit™. All rights reserved.</p>
			<hr class="sto">
		</div>
	</footer>

</body>

</html>