<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta http-equiv=" X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<meta name="description"
		content="Secure your future with a fixed deposit at SureDeposit - offering a world-class 15% return rate. Join today and build your wealth with confidence!">

	<meta property="og:url" content="www.suredeposit.in">
	<meta property="og:type" content="website">
	<meta property="og:title" content="SureDeposit | The World's Highest Return on Investments! | suredeposit.in">
	<meta property="og:description"
		content="Secure your future with SureDeposit - offering a world-class 15% return rate!">
	<meta property="og:image" content="img_landingPage/logo_favicon.png">

	<title>Terms & Conditions | SureDeposit | suredeposit.in</title>

	<link rel="apple-touch-icon" sizes="150x150" href="img_landingPage/logo_favicon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img_landingPage/logo_favicon.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img_landingPage/logo_favicon.png">
	<!-- <link rel="manifest" href="img/site.webmanifest"> -->
	<link rel="stylesheet" href="/css_suredeposit/common.css">
	<link rel="stylesheet" href="/css_suredeposit/landingPages.css">
	<link rel="stylesheet" media="screen and (min-width: 140px) and (max-width: 450px)"
		href="/css_suredeposit/mobile.css">
	<link rel="stylesheet" media="screen and (min-width: 451px) and (max-width: 800px)"
		href="/css_suredeposit/mobile.css">
	<script defer src="/js_suredeposit/landingPage.js"></script>

</head>

<body>
	<section id="navbar" class="scroll">
		<img src="img_landingPage/logo.png" alt="Logo" id="logo" onclick="location.href = '/'" class="cur-point">
		<div id="nav-links" class="flex-row">
			<a class="linkbtn" href="/">Home</a>
			<a class="linkbtn" href="/aboutus">About Us</a>
			<a class="linkbtn" href="/contact">Contact Us</a>
			<a class="linkbtn" href="/signin">Login</a>
		</div>
	</section>

	<main class="margin-top margin-bottom">
		<section class="margin-top margin-bottom padding-12">
			<h1 class="main-heading center margin-bottom">Refund Policy</h1>
			<h3 class="sub-heading margin-top margin-bottom">Effective Date: 05th Apr 2023</h3>
			<p class="bullets center">At SureDeposit, we prioritize your satisfaction and strive to provide you with a
				seamless and secure peer-to-peer lending experience. We understand that there may be instances where you
				encounter issues related to depositing money, and transactions may fail to process as expected. Rest
				assured, our Refund Policy is designed to address such situations transparently and efficiently.
			</p>
		</section>

		<section id="contents" class="padding-12">
			<div class="flex-colunm">
				<h2 class="headings">Table of Contents</h2>
				<ol class="flex-colunm">
					<li><a class="linkbtn" href="#our-commitment">Our Commitment to You</a></li>
					<li><a class="linkbtn" href="#depositing-money">Depositing Money: Understanding the Process</a></li>
					<li><a class="linkbtn" href="#transaction-failures">Transaction Failures: Common Scenarios</a></li>
					<li><a class="linkbtn" href="#refund-process">Refund Process and Timeline</a></li>
					<li><a class="linkbtn" href="#exceptions">Exceptions and Special Circumstances</a></li>
					<li><a class="linkbtn" href="#contact-us">Contact Us</a></li>
				</ol>
			</div>
		</section>

		<section id="our-commitment" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">1. Our Commitment to You</h2>
			<p class="text2">Before delving into the specifics of our Refund Policy, we want to reaffirm our commitment
				to providing you with a reliable and trustworthy platform for peer-to-peer lending. Our dedication to
				your financial well-being includes addressing any issues related to depositing money promptly and
				fairly.</p>
		</section>

		<section id="depositing-money" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">2. Depositing Money: Understanding the Process</h2>
			<p class="text2">To provide clarity on the depositing process, it's essential to understand how the process
				works:</p>
			<ol class="flex-colunm">
				<li class="bullets2 b">Depositing Funds: <p class="bullets ub margin-top-bottom">Users can deposit funds
						into their SureDeposit account using various payment methods, including bank transfers, debit
						cards, and other supported options.</p>
				</li>
				<li class="bullets2 b">Transaction Authorization: <p class="bullets ub margin-top-bottom">When you
						initiate a deposit, your financial institution authorizes the transaction, confirming that the
						funds are available for transfer.</p>
				</li>
				<li class="bullets2 b">Transaction Processing: <p class="bullets ub margin-top-bottom">After
						authorization, the transaction proceeds to processing, where the funds are moved from your bank
						account to your SureDeposit account.</p>
				</li>
			</ol>
		</section>

		<section id="transaction-failures" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">3. Transaction Failures: Common Scenarios</h2>
			<p class="text2">While we strive for a seamless transaction process, there may be instances where
				transactions fail. Common scenarios for transaction failures include:</p>
			<ol class="flex-colunm">
				<li class="bullets2 b">Insufficient Funds: <p class="bullets ub margin-top-bottom">If your bank account
						lacks sufficient funds to cover the transaction amount, the transaction may fail.</p>
				</li>
				<li class="bullets2 b">Bank Restrictions: <p class="bullets ub margin-top-bottom">Certain banks may have
						restrictions on online transactions, which can result in a failed transaction.</p>
				</li>
				<li class="bullets2 b">Technical Issues: <p class="bullets ub margin-top-bottom">Technical glitches,
						server errors, or connectivity issues can occasionally lead to transaction failures.</p>
				</li>
			</ol>
		</section>

		<section id="refund-process" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">4. Refund Process and Timeline</h2>
			<p class="text2">In the event of a failed transaction or any problem related to depositing money,
				SureDeposit is committed to resolving the issue and ensuring that your funds are appropriately credited.
				Here's how our refund process works:</p>
			<ol class="flex-colunm">
				<li class="bullets2 b">Notification: <p class="bullets ub margin-top-bottom">If a transaction fails, you
						will receive a notification informing you of the issue.</p>
				</li>
				<li class="bullets2 b">Verification: <p class="bullets ub margin-top-bottom">Our team will conduct a
						thorough review to confirm the transaction failure and identify the cause.</p>
				</li>
				<li class="bullets2 b">Refund Initiation: <p class="bullets ub margin-top-bottom">Upon verification, we
						will initiate the refund process. Refunds are typically processed within 7 to 10 business days.
					</p>
				</li>
				<li class="bullets2 b">Original Payment Method: <p class="bullets ub margin-top-bottom">Refunds will be
						credited to the original bank account or payment method used for the transaction.</p>
				</li>
			</ol>
			<p class="text2">It's important to note that the timeline for receiving the refund may vary depending on
				your bank or payment provider. We recommend checking with your financial institution for specific
				details on how they handle refunds.</p>
		</section>

		<section id="exceptions" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">5. Exceptions and Special Circumstances</h2>
			<p class="text2">While we strive to provide a consistent and timely refund process, there may be exceptional
				circumstances or delays beyond our control. Some factors that could affect the refund timeline include:
			</p>
			<ol class="flex-colunm">
				<li class="bullets2 b">Bank Policies: <p class="bullets ub margin-top-bottom">Some banks may have
						specific policies or processing times for refunds that extend beyond our standard timeline.</p>
				</li>
				<li class="bullets2 b">Technical Delays: <p class="bullets ub margin-top-bottom">In rare instances,
						technical issues or delays in payment processing networks may impact the refund timeline.</p>
				</li>
			</ol>
			<p class="text2">If you encounter a delay in receiving your refund or have concerns about the process,
				please don't hesitate to reach out to our customer support team. We are here to assist you and provide
				updates as needed.</p>
		</section>

		<section id="contact-us" class="flex-colunm item-center margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">6. Contact Us</h2>
			<p class="text2 margin-bottom">Your satisfaction and peace of mind are essential to us. If you encounter any
				issues
				related to depositing money or have questions about our Refund Policy, please feel free to contact
				us.Our dedicated customer support team is available during business hours to assist you and address any
				concerns you may have.
			</p>
			<a class="btn margin-top margin-bottom" href="/contact">Contact Us</a>
		</section>

		<p class="text2 margin-top margin-bottom center padding-12">
			Thank you for choosing SureDeposit as your peer-to-peer lending platform. We are committed to ensuring a
			secure and rewarding experience for all our users. In the rare event of transaction failures or
			deposit-related issues, rest assured that our Refund Policy is designed to protect your interests and
			provide a prompt resolution.
		</p>
	</main>

	<footer class="flex-colunm">
		<div class="padding-15 flex-row footer">
			<div class="flex-colunm menu">
				<img src="img_landingPage/logo_favicon.png" alt="" id="favicon" loading="lazy">
			</div>
			<div class="flex-colunm menu">
				<span class="sub-heading color menu-header">Website</span>
				<a class="linkbtn" href="/home">Dashboard</a>
				<a class="linkbtn" href="/signup">Signup</a>
				<a class="linkbtn" href="/signin">Login</a>
			</div>
			<div class="flex-colunm menu">
				<span class="sub-heading color menu-header">Help Topics</span>
				<a class="linkbtn" href="/aboutus">About Us</a>
				<a class="linkbtn" href="/contact">Contact Us</a>
				<a class="linkbtn" href="/faq">FAQs</a>
			</div>
		</div>
		<div class="padding-15 flex-row footer">
			<div class="flex-colunm menu">
				<span class="sub-heading color menu-header">Policies</span>
				<a class="linkbtn" href="/tnc">Terms & Conditions</a>
				<a class="linkbtn" href="/privacy-policy">Privacy Policy</a>
			</div>
			<div class="flex-colunm menu">
				<span class="sub-heading color menu-header">Contact Us</span>
				<span class="bullets"><a target="_blank" rel="noopener noreferrer" class="linkbtn"
						href="mailto:contact@unitybooks.in">contact@suredeposit.in</a></span>
				<span class="bullets">
					<a target="_blank" rel="noopener noreferrer" class="linkbtn"
						href="https://api.whatsapp.com/message/HJFV7CZRCD7BG1?autoload=1&amp;app_absent=0">
						9484480809</a>
				</span>
			</div>
			<div class="flex-colunm menu app-links">
				<a href="https://play.google.com/store/apps/details?id=com.Pageturners_tech.sure_deposit_AIA_store"><img
						src="img_landingPage/playstore.png" alt="" id="playBtn" loading="lazy" class="play"></a>
			</div>
		</div>
		<div class="flex-colunm item-center">
			<h4 class="sub-heading">Crafted with <img src="img_landingPage/fav-fill.svg" alt="" id="heart"
					loading="lazy"> in
				India</h4>
			<p id="tnc" class="text2 center">Copyright © 2023 SureDeposit™. All rights reserved.</p>
			<hr class="sto">
		</div>
	</footer>

</body>

</html>