<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta http-equiv=" X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<meta name="description"
		content="Secure your future with a fixed deposit at SureDeposit - offering a world-class 18% return rate. Join today and build your wealth with confidence!">

	<meta property="og:url" content="">
	<meta property="og:type" content="application">
	<meta property="og:title" content="SureDeposit | Secure FDs with the 'Highest Return' in the World!">
	<meta property="og:description"
		content="Secure your future with SureDeposit - the smart choice for high-yield fixed deposits!">
	<meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
	<meta property="og:image" content="img_suredeposit/logo.png">

	<title>SureDeposit | Reset Password</title>

	<link rel="apple-touch-icon" sizes="180x180" href="img_suredeposit/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img_suredeposit/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img_suredeposit/favicon-16x16.png">
	<link rel="manifest" href="img_suredeposit/site.webmanifest">
	<link rel="stylesheet" href="/css_suredeposit/common.css">
	<link rel="stylesheet" href="/css_suredeposit/signin.css">
	<link rel="stylesheet" href="/css_suredeposit/success.css">
	<link rel="stylesheet" href="/css_suredeposit/resetPassword.css">
</head>

<body>

	<section class="hamburger-menu2 flex-row">
		<div><a href="/signin"><img src="img_suredeposit/close.svg" alt="" class="icons2"></a></div>
		<div><span class="h-6 b color">Reset Password &nbsp;&nbsp;&nbsp;&nbsp;</span></div>
		<div></div>
	</section>

	<section class="screen flex item-center" id="screen">
		<div class="box-container flex-colunm item-center brad shadow margin-left-right margin-top-bottom padding gap"
			id="otpBox">
			<img src="img_suredeposit/otp.svg" alt="" id="otp-img">
			<h2 class="color b h-7">OTP Verification</h2>
			<div class="flex-colunm item-center">
				<p class="b text2 center text-wrap">Please enter the Verification code sent to your email</p>
				<p class="b text2" id="expireText">Your OTP will expire in <span id="count" class="color b h-8">s</span>
				</p>
			</div>
			<div class="otp-container flex-row">
				<input type="number" class="otp-box brad" id="otp1" maxlength="1">
				<input type="number" class="otp-box brad" id="otp2" maxlength="1" disabled>
				<input type="number" class="otp-box brad" id="otp3" maxlength="1" disabled>
				<input type="number" class="otp-box brad" id="otp4" maxlength="1" disabled>
			</div>
			<div class="flex item-center w-full">
				<button type="button" class="btn" id="submitBtn" onclick="verifyOTP()">Verify OTP</button>
			</div>
			<div class="flex-colunm item-center">
				<p class="b text2">Did'nt receive the code?</p>
				<a class="linkbtn" id="resendOTP" onclick="resendOTP()">Resend Code</a>
			</div>
		</div>
		<div class="error-box item-center">
			<p id="error-box" class="center"></p>
		</div>
	</section>
</body>
<script src="/js_suredeposit/forgotPassword.js"></script>
<script src="/js_suredeposit/resetPassword.js"></script>

</html>