<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta http-equiv=" X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<meta name="description"
		content="Secure your future with a fixed deposit at SureDeposit - offering a world-class 15% return rate. Join today and build your wealth with confidence!">

	<meta property="og:url" content="www.suredeposit.in">
	<meta property="og:type" content="website">
	<meta property="og:title" content="SureDeposit | The World's Highest Return on Investments! | suredeposit.in">
	<meta property="og:description"
		content="Secure your future with SureDeposit - offering a world-class 15% return rate!">
	<meta property="og:image" content="img_landingPage/logo_favicon.png">

	<title>Terms & Conditions | SureDeposit | suredeposit.in</title>

	<link rel="apple-touch-icon" sizes="150x150" href="img_landingPage/logo_favicon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img_landingPage/logo_favicon.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img_landingPage/logo_favicon.png">
	<!-- <link rel="manifest" href="img/site.webmanifest"> -->
	<link rel="stylesheet" href="/css_suredeposit/common.css">
	<link rel="stylesheet" href="/css_suredeposit/landingPages.css">
	<link rel="stylesheet" media="screen and (min-width: 140px) and (max-width: 450px)"
		href="/css_suredeposit/mobile.css">
	<link rel="stylesheet" media="screen and (min-width: 451px) and (max-width: 800px)"
		href="/css_suredeposit/mobile.css">
	<script defer src="/js_suredeposit/landingPage.js"></script>

</head>

<body>
	<section id="navbar" class="scroll">
		<img src="img_landingPage/logo.png" alt="Logo" id="logo" onclick="location.href = '/'" class="cur-point">
		<div id="nav-links" class="flex-row">
			<a class="linkbtn" href="/">Home</a>
			<a class="linkbtn" href="/aboutus">About Us</a>
			<a class="linkbtn" href="/contact">Contact Us</a>
			<a class="linkbtn" href="/signin">Login</a>
		</div>
	</section>

	<main class="margin-top margin-bottom">
		<section class="margin-top margin-bottom padding-12">
			<h1 class="main-heading center margin-bottom">Terms and Conditions</h1>
			<h3 class="sub-heading margin-top margin-bottom">Effective Date(Previously Updated on): 19th Sep 2023</h3>
			<p class="bullets center margin-top-bottom">Welcome to SureDeposit, your trusted peer-to-peer lending
				platform. Thank you for
				using our products and services. We're dedicated to providing you with a secure and convenient way to
				invest your savings and help others in need of financial assistance.
			</p>
			<p class="bullets center margin-top-bottom">To ensure a clear and transparent understanding of our
				platform's rules and
				expectations, please take the time to read and familiarize yourself with the following Terms and
				Conditions. By using our Services, you agree to these terms. Please read these Terms and Conditions
				carefully before using the mobile application and Website operated by SureDeposit.
			</p>
			<p class="bullets center margin-top-bottom">For any of our products or services, if there are additional
				terms and conditions,
				the same shall be published along with the relevant product or service. The same shall be deemed part of
				the overall contract you sign by taking the service or product.
			</p>
		</section>

		<section id="contents" class="padding-12">
			<div class="flex-colunm">
				<h2 class="headings">Table of Contents</h2>
				<ol class="flex-colunm">
					<li><a class="linkbtn" href="#definitions">Terminology</a></li>
					<li><a class="linkbtn" href="#services">Using Our Services</a></li>
					<li><a class="linkbtn" href="#eligibility">Eligibility</a></li>
					<li><a class="linkbtn" href="#registration">Account Registration and Security</a></li>
					<li><a class="linkbtn" href="#investment">Investment</a></li>
					<li><a class="linkbtn" href="#interest">Interest Rates and Payouts</a></li>
					<li><a class="linkbtn" href="#risk">Risk and Default</a></li>
					<li><a class="linkbtn" href="#withdrawals">Withdrawals</a></li>
					<li><a class="linkbtn" href="#privacy">Privacy and Data Security</a></li>
					<li><a class="linkbtn" href="#conduct">User Conduct and Obligations</a></li>
					<li><a class="linkbtn" href="#termination">Termination</a></li>
					<li><a class="linkbtn" href="#modifications">Modifications to Terms and Conditions</a></li>
					<li><a class="linkbtn" href="#ip">Intellectual Property</a></li>
					<li><a class="linkbtn" href="#disclaimers">Disclaimers</a></li>
					<li><a class="linkbtn" href="#liability">Limitation of Liability</a></li>
					<li><a class="linkbtn" href="#indemnification">Indemnification</a></li>
					<li><a class="linkbtn" href="#laws">Governing Law and Dispute Resolution</a></li>
					<li><a class="linkbtn" href="#contact">Contact Us</a></li>
					<li><a class="linkbtn" href="/refund-policy">Refund Policy</a></li>
				</ol>
			</div>
		</section>

		<section id="definitions" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">1. Terminology</h2>
			<p class="text2">As a company, we reserve the rights to make and keep a value of the product or order from
				customers as profit and also partner with concerned businesses only on the condition that they cut off
				not less than 10% (or more as decided at the time of partnering) margins on their products or services,
				The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer
				Notice. Any or all Agreements: "Client", "You", and "You're" refer to you, the person accessing this
				Website and accepting the Company's terms and conditions. "The Company", "Ourselves", "We" and "Us"
				refer to our Company. "Party", "Parties", or "Us" refers to both the Customer and ourselves, or either
				the Customer or ourselves. "Investor" refers to individuals who invest their funds on the SureDeposit
				platform. All terms refer to the offer, acceptance and consideration of payment necessary to undertake
				the process of our assistance to the Client in the most appropriate manner, whether through formal
				meetings of a fixed duration or by any other means, with the express purpose of meeting the Client's
				needs in terms of providing the Company's declared services/products, in accordance with and subject to
				applicable INDIAN laws. Any use of the above terminology or other words in the singular, plural, capital
				letters and/or plural, and/or these terms, is considered interchangeable and therefore a reference to
				them.
			</p>
		</section>

		<section id="services" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">2. Using Our Services</h2>
			<p class="text2">You must follow any policies made available to you within the Services. Don't misuse
				our Services. For example, please don't interfere with our Services or try to access them using a
				method other than the interface and the instructions that we provide. You may use our Services only
				as permitted by law, including applicable export and re-export control laws and regulations. We may
				suspend or stop providing our Services to you if you do not comply with our terms or policies or
				investigate suspected misconduct.
			</p>
			<p class="text2">Using our Services does not give you ownership of any intellectual property rights in
				our Services or the content you access. You may not use content from our Services unless you obtain
				permission from its owner or are otherwise permitted by law. These terms do not grant you the right
				to use any branding or logos used in our Services. Don't remove, obscure, or alter any legal notices
				displayed in or along with our Services.
			</p>
			<p class="text2">In connection with your use of the Services, we may send you service announcements,
				administrative messages, and other information. You may opt-out of some of those communications.
				Some of our Services are available on mobile devices. Do not use such Services in a way that
				distracts you and prevents you from obeying traffic or safety laws.
			</p>
		</section>

		<section id="eligibility" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">3. Eligibility</h2>
			<p class="text2">To access and utilize the services offered by SureDeposit, users must adhere to the
				following eligibility criteria:</p>
			<ol class="flex-colunm">
				<li class="bullets2 b"> Users of SureDeposit's platform must be of a minimum age of 13 years or
					older. This age threshold ensures that individuals engaging with our platform have reached the
					legal age of majority, as recognized in their respective jurisdictions.</li>
				<li class="bullets2 b">In order to participate in transactions and agreements facilitated by
					SureDeposit, users must possess the legal capacity to enter into binding contracts. This
					requirement ensures that all interactions on our platform are conducted by individuals with the
					legal authority to commit to financial agreements.</li>
				<li class="bullets2 b">Users are obligated to provide precise and comprehensive information during
					the registration process. This information may include personal details such as full name,
					address, date of birth, and contact information. Accuracy is essential to establish and maintain
					transparent and trustworthy relationships within our community.</li>
				<li class="bullets2 b">Users are responsible for safeguarding the security of their account
					credentials, which include but are not limited to usernames and passwords. It is imperative that
					users take reasonable precautions to protect their account from unauthorized access and
					potential security breaches.</li>
				<li class="bullets2 b">Users must promptly notify SureDeposit of any suspected unauthorized access
					or security breaches related to their account. This proactive measure assists in maintaining the
					integrity and confidentiality of user accounts.</li>
			</ol>
			<p class="text2">These eligibility criteria are designed to establish a framework of trust, security,
				and accountability within the SureDeposit platform. By adhering to these criteria, users contribute
				to a secure and reliable environment for all participants. Failure to meet these criteria may result
				in restricted access to the platform or the termination of user accounts in accordance with our
				Terms and Conditions.
			</p>
			<p class="text2">SureDeposit places a high value on user compliance with these eligibility criteria to
				ensure the safety and integrity of our financial community. We appreciate your commitment to
				upholding these standards as a user of our platform.
			</p>
		</section>

		<section id="registration" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">4. Account Registration and Security</h2>
			<p class="text2">By registering with SureDeposit, you acknowledge and agree to provide precise and
				current information during the registration process. This includes the submission of personal
				details such as your full legal name, residential address, date of birth, and accurate contact
				information. This requirement is essential to establish and maintain transparency, trust, and the
				legality of interactions within the SureDeposit platform. The accuracy of the information you
				provide is critical in ensuring the credibility and integrity of our financial community.</p>
			<p class="text2">You bear the sole responsibility for maintaining the confidentiality and security of
				your account credentials, which may consist of a unique username and password. These credentials
				serve as your digital identity within our platform. It is your responsibility to implement and
				maintain adequate security measures to prevent unauthorized access to your account. This includes
				safeguarding your login information against loss, theft, or unauthorized disclosure.</p>
			<p class="text2">In the event that you suspect or become aware of any unauthorized use of your
				SureDeposit account or any security breaches related to your account, it is imperative that you
				promptly notify SureDeposit. Please be aware that SureDeposit bears no liability for any financial
				losses or adverse consequences that may result from unauthorized access to your account, including
				unauthorized transactions, unless such access is a direct result of gross negligence on our part.
			</p>
		</section>

		<section id="investment" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">5. Investment</h2>
			<p class="text2">SureDeposit is proud to offer a user-friendly platform designed to help you make the most
				of your savings. Below, we outline key aspects related to investing with SureDeposit:</p>
			<ol class="flex-colunm">
				<li class="bullets2 b">Investment Amount: <p class="bullets ub margin-top-bottom">At SureDeposit, we
						believe in making investing accessible to everyone. Investors can get started with a minimum
						investment of just Rs. 1000, making it easy for individuals from all walks of life to
						participate. For those looking to maximize their investment potential, we offer the opportunity
						to invest up to Rs. 5 Lakhs.</p>
				</li>
				<li class="bullets2 b">Background Checks: <p class="bullets ub margin-top-bottom">Your investments with
						SureDeposit are put to work through a meticulous lending process. Before disbursing funds to
						borrowers, we conduct comprehensive background checks. These checks include a thorough
						examination of credit history, Know Your Customer (KYC) verification, and credit score
						assessments. This ensures that your investments are channeled to qualified borrowers, enhancing
						the security of your investment.</p>
				</li>
				<li class="bullets2 b">Lending Process: <p class="bullets ub margin-top-bottom">SureDeposit acts as a
						trusted intermediary, bridging the gap between investors and borrowers. Our platform seamlessly
						connects individuals seeking to invest their savings with those in need of financial assistance.
						The allocation of investments is determined through SureDeposit's advanced lending algorithms,
						designed to optimize returns and mitigate risks.</p>
				</li>
				<li class="bullets2 b">Investment Decisions: <p class="bullets ub margin-top-bottom">Investment
						decisions are executed with prudence and expertise by SureDeposit. While we aim to provide
						opportunities for investors to diversify their portfolios, it's important to note that, like all
						investments, returns can vary. At SureDeposit, we strive to offer a competitive fixed interest
						rate to our investors, with the goal of achieving returns of about 15%. However, it's important
						to remember that all investments carry inherent risks.
					</p>
				</li>
				<li class="bullets2 b">Diversification: <p class="bullets ub margin-top-bottom">Investors are encouraged
						to diversify their investment portfolios to minimize risk. Diversification involves spreading
						your investments across multiple loans or assets. By doing so, you can potentially reduce your
						exposure to the impact of a single loan default, thereby enhancing the stability of your
						investment portfolio.</p>
				</li>
				<li class="bullets2 b">Payment Options: <p class="bullets ub margin-top-bottom">SureDeposit is committed
						to providing convenient and secure payment options for our investors. We understand the
						importance of hassle-free transactions. To achieve this, we have partnered with RazorPay, a
						trusted payment gateway, to offer a range of payment methods. These options include Debit and
						Credit Cards, as well as UPI Payments. With these secure payment channels, investors can make
						transactions with confidence, knowing that their financial details are protected.</p>
				</li>
			</ol>
		</section>

		<section id="interest" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">6. Interest Rates and Payouts</h2>
			<p class="text2">SureDeposit offers investors a fixed interest rate of 1.25% per month. Here are
				important details about interest rates and payouts:</p>
			<ol class="flex-colunm">
				<li class="bullets2 b">Fixed Rate: <p class="bullets ub margin-top-bottom">SureDeposit offers investors
						a competitive fixed interest rate of 1.25% per month. This translates to an annual interest rate
						capped at 15%. We understand the importance of stability in your investment returns. While we
						aim to maintain this rate consistently, please be aware that, in rare cases, we may consider
						adjusting this rate based on market conditions. Any such changes will be made at our discretion
						and communicated to our investors.</p>
				</li>
				<li class="bullets2 b">Monthly Payouts: <p class="bullets ub margin-top-bottom">Investors can anticipate
						regular and dependable returns with SureDeposit. Interest earned on your investments is
						calculated and disbursed to your account on or before the 5th of each month. This ensures a
						predictable income stream for our investors. In case you encounter any discrepancies in your
						payouts, we encourage you to reach out to us promptly using your registered mobile number or
						email.
					</p>
				</li>
				<li class="bullets2 b">Interest Calculations: <p class="bullets ub margin-top-bottom">Our interest
						calculations are designed to provide clarity and fairness to our investors. The calculation is
						based on the number of days your investment amount is present in your account within a given
						month. We follow a specific methodology for interest calculations based on the investment date:
					</p>
					<ol class="flex-colunm">
						<li class="bullets2 b">Upto 5 Days: <p class="bullets ub margin-top-bottom">For new amounts
								added within this timeframe, no interest is earned. However, investors will earn a full
								1.25% interest on the previously invested amount, provided the previous investment was
								made at least 30 days prior.</p>
						</li>
						<li class="bullets2 b">6 Days - 25 Days: <p class="bullets ub margin-top-bottom">Investors will
								earn a partial interest on newly added amounts. This partial interest is calculated for
								the number of days the investment remains in the account during this period. If there is
								a previous investment, the previously invested amount will continue to fetch the full
								1.25% interest along with the partial interest for the new amount.</p>
						</li>
						<li class="bullets2 b">25 Days+: <p class="bullets ub margin-top-bottom">
								For investments present in the account for 25 days or more within a month, investors
								will earn the full 1.25% interest on the entire invested amount.</p>
						</li>
					</ol>
				</li>
				<li class="bullets2 b">Flexible Tenure: <p class="bullets ub margin-top-bottom">SureDeposit offers
						flexibility when it comes to investment tenure. There is no fixed maturity period for your
						investments. You have the freedom to continue your investment until you decide to make a
						withdrawal. Your investment will continue to earn interest until the withdrawal is initiated.
					</p>
				</li>
				<li class="bullets2 b">Reinvestment: <p class="bullets ub margin-top-bottom">To help you maximize your
						potential returns, SureDeposit offers investors the option to reinvest their earned interest.
						The reinvestment feature allows you to put your earnings back to work without any minimum amount
						requirement. This provides an opportunity for compounding your returns over time, ultimately
						enhancing your investment portfolio.</p>
				</li>
			</ol>
		</section>

		<section id="risk" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">7. Risk and Default</h2>
			<p class="text2">At SureDeposit, we understand that all investments inherently carry a degree of risk.
				However, we are firmly committed to effectively managing and mitigating these risks to protect the
				interests of our valued investors. Here's an overview of how we address risk and manage defaults on
				our platform:</p>
			<ol class="flex-colunm">
				<li class="bullets2 b">Background Checks: <p class="bullets ub margin-top-bottom">Before
						facilitating loans to borrowers on our platform, we take comprehensive measures to assess
						their creditworthiness and financial background. This includes conducting thorough
						background checks, which encompass an evaluation of the borrower's credit history, income,
						employment status, and other relevant financial information. By implementing rigorous
						screening processes, we aim to reduce the likelihood of defaults and ensure that loans are
						extended to individuals who demonstrate a strong ability to repay.</p>
				</li>
				<li class="bullets2 b">Default Protection: <p class="bullets ub margin-top-bottom">In the
						unfortunate event of a borrower's default, SureDeposit provides a safeguard through our
						robust insurance coverage. This insurance is designed to protect the principal amount
						invested by our valued investors. In essence, it acts as a safety net, ensuring that even if
						a borrower defaults on their loan, our investors' initial capital remains secure. This
						commitment to default protection is a testament to our dedication to your financial
						well-being.</p>
				</li>
				<li class="bullets2 b">Loan Recovery: <p class="bullets ub margin-top-bottom">Should a borrower fail
						to fulfill their repayment obligations, SureDeposit will diligently pursue loan recovery
						efforts. We understand that unforeseen circumstances can lead to defaults, and we strive to
						recover defaulted amounts through fair and ethical means. Our dedicated team employs
						reasonable and responsible collection practices to maximize recovery and minimize losses for
						our investors.
					</p>
				</li>
			</ol>
			<p class="text2">We believe that these proactive risk management strategies, coupled with our commitment
				to protecting your investments, contribute to the security and reliability of our platform. Your
				trust in SureDeposit is of paramount importance, and we remain steadfast in our mission to provide
				you with a secure and rewarding investment experience.</p>
			<p class="text2">By continuing to use SureDeposit, you acknowledge and accept these risk management and
				default handling practices, which are designed to safeguard your financial interests.</p>
		</section>

		<section id="withdrawals" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">8. Withdrawals</h2>
			<p class="text2">As part of our commitment to providing a convenient and flexible investment platform,
				SureDeposit allows investors to withdraw their available balance at any time. We understand the
				importance of accessibility to your funds, and we've outlined the key details related to withdrawals
				for your convenience:
			</p>
			<h3 class="sub-heading">Withdrawal Types</h3>
			<ol class="flex-colunm">
				<li class="bullets2 b">Withdraw Interest: <p class="bullets ub margin-top-bottom">This withdrawal
						option allows you to access the interest earned on your investments quickly. You can
						initiate this withdrawal at any time, providing you with the freedom to manage your earnings
						efficiently.<br><br>Withdrawals under this option are typically processed swiftly, with
						funds usually credited within 48 hours. The minimum amount you can withdraw using
						this option is Rs. 100, ensuring accessibility even for smaller balances.
					</p>
				</li>
				<li class="bullets2 b">Withdraw Investment: <p class="bullets ub margin-top-bottom">We understand
						that investment goals vary, and sometimes you may wish to access not only the interest but
						also a portion of your initial investment. SureDeposit offers two sub-options under the
						"Withdraw Investment" category:</p>
					<ol class="flex-colunm">
						<li class="bullets ub">Quick Withdrawal: <p class="bullets ub margin-top-bottom">Quick
								Withdrawal is designed for those who seek a rapid access option to their invested
								capital. Similar to the Withdraw Interest option, you have the flexibility to
								initiate this withdrawal at any time.<br><br>Quick Withdrawals are typically
								processed within 48 hours, providing a swift turnaround for your financial
								needs.<br><br>The minimum amount for a Quick Withdrawal is Rs. 500. Please note that
								a nominal withdrawal fee of 1% may apply to Quick Withdrawals.</p>
						</li>
						<li class="bullets ub">Standard Withdrawal: <p class="bullets ub margin-top-bottom">
								Standard Withdrawal offers an alternative for investors looking for a predictable
								and scheduled withdrawal option. With this choice, your requested amount will be
								credited on the 5th of the following month, ensuring a consistent payout
								schedule.<br><br>The amount will be credited to your account on the 5th of the next
								month if there is a minimum 30-day difference between the date of withdrawal and the 5th
								of the next month. However, if the time gap is less than 30 days, the withdrawal will be
								processed on the 5th of the next to next month.<br><br>The minimum amount for a Quick
								Withdrawal is Rs. 500. There are no withdrawal fees associated with Standard
								Withdrawals, making it a cost-effective choice for planned access to your
								investments.</p>
						</li>
					</ol>
				</li>
			</ol>
			<h3 class="sub-heading margin-top">Other Withdrawal Terms</h3>
			<ol class="flex-colunm">
				<li class="bullets2 b">Withdrawal Processing: <p class="bullets ub margin-top-bottom">At
						SureDeposit, we strive to ensure that your withdrawal requests are handled promptly and
						efficiently. Withdrawal processing times are typically within a reasonable timeframe. While
						we aim to make your funds available to you as quickly as possible, please note that the
						exact processing duration may vary depending on factors such as transaction volumes and
						security measures. Rest assured that we are dedicated to expediting the withdrawal process
						to meet your financial needs.</p>
				</li>
				<li class="bullets2 b">Fees: <p class="bullets ub margin-top-bottom">We believe in transparency, and
						it's essential to be aware that there may be certain withdrawal restrictions in place. In
						some instances, SureDeposit reserves the right to charge nominal withdrawal fees (1%)
						associated with withdrawals. These fees, if applicable, are designed to cover the costs of
						transaction processing and security measures. Please refer to our fee schedule or contact
						our customer support team for specific details regarding withdrawal fees.</p>
				</li>
				<li class="bullets2 b">Withdrawal Limits: <p class="bullets ub margin-top-bottom">To maintain the
						stability and liquidity of our platform and ensure that all investors can access their funds
						when needed, we may implement certain withdrawal limits. These limits are set to prevent any
						disruptions to the overall operation of the platform and to manage cash flow effectively.
						While these limits are in place, we work diligently to strike a balance between your
						convenience and the platform's operational needs. Rest assured that we continuously evaluate
						and adjust these limits as necessary to best serve our investors.</p>
				</li>
			</ol>
			<p class="bullets2 b margin-bottom">Withdrawal and Interest Disclaimer: <br> When you choose to withdraw a
				portion of your investment, please be aware that the withdrawn amount will not accrue any interest
				during the withdrawal process. Additionally, the withdrawn amount will not be factored into future
				interest calculations. This means that the withdrawn funds will not contribute to interest earnings
				while they are being processed for withdrawal.</p>
			<p class="bullets2 b margin-bottom">It's important to consider this when making partial withdrawals from
				your investment with SureDeposit, as it may impact your overall returns.<br><br>This disclaimer aims to
				provide transparency regarding the treatment of withdrawn funds in relation to
				interest calculations.</p>
			<p class="text2">We believe that these withdrawal options cater to your unique financial goals and
				liquidity needs, offering both convenience and flexibility. Your satisfaction is essential to us,
				and we remain dedicated to providing you with a secure and rewarding investment journey.</p>
		</section>

		<section id="privacy" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">9. Privacy and Data Security</h2>
			<p class="text2">Your privacy and data security are paramount to us. Please refer to our <a class="linkbtn"
					href="/privacy-policy">Privacy Policy</a> for detailed information on how we collect, use, and
				protect your personal information.</p>
		</section>

		<section id="conduct" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">10. User Conduct and Obligations</h2>
			<p class="text2">When using SureDeposit, you agree to:</p>
			<ol class="flex-colunm">
				<li class="bullets2 b">By utilizing the SureDeposit platform, you commit to complying with these Terms
					and Conditions in their entirety. Additionally, you agree to adhere to all applicable laws and
					regulations governing your use of our platform. This pledge underscores your legal and ethical
					responsibility while participating in the SureDeposit community, ensuring the integrity of our
					platform and its operations.
				</li>
				<li class="bullets2 b">You pledge to provide only accurate and truthful information during the processes
					of account registration and investment within the SureDeposit platform. This encompasses all details
					relevant to your identity, financial status, and investment activities. This commitment fosters
					transparency and reliability within our financial ecosystem, as accurate information is fundamental
					to establishing trust among all participants.</li>
				<li class="bullets2 b">While using SureDeposit, you agree to abstain from engaging in any form of
					fraudulent, illegal, or harmful activities on the platform. This includes, but is not limited to,
					activities that seek to deceive, defraud, or compromise the integrity of the platform or its
					users. Your commitment to these principles contributes to the security, fairness, and equitable
					treatment of all users, promoting a safe and trustworthy environment for financial interactions.
				</li>
				<li class="bullets2 b">You are obligated to respect the privacy of fellow SureDeposit users. This
					includes refraining from disclosing or sharing their personal information without explicit consent.
					Upholding the confidentiality of user data preserves trust and reinforces our commitment to
					safeguarding sensitive information within the SureDeposit community.
				</li>
			</ol>
			<p class="text2">By embracing these principles, you actively contribute to the maintenance of a secure,
				transparent, and ethical environment within SureDeposit. Your commitment aligns with our mission to
				provide a trustworthy peer-to-peer lending platform where all participants can engage with confidence
				and integrity.</p>
		</section>

		<section id="termination" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">11. Termination</h2>
			<p class="text2">SureDeposit retains the unequivocal right to terminate or suspend your account and access
				to the platform under the following circumstances:</p>
			<ol class="flex-colunm">
				<li class="bullets2 b">Violation of Terms and Legal Framework: <p class="bullets ub margin-top-bottom">
						You shall be subject to account termination if found in violation of these Terms and Conditions
						or any pertinent laws or regulations governing the use of the SureDeposit platform. This
						encompasses adherence to the legal and regulatory framework integral to our operations.</p>
				<li class="bullets2 b">Engagement in Fraudulent or Harmful Activities: <p
						class="bullets ub margin-top-bottom">Account termination may be enforced should you engage in
						fraudulent or harmful activities within the SureDeposit ecosystem. Activities of this nature
						include but are not confined to actions designed to deceive, defraud, or otherwise jeopardize
						the integrity of the platform or its participants.</p>
				<li class="bullets2 b">Failure to Safeguard Account Security: <p class="bullets ub margin-top-bottom">
						Failure to uphold the security and confidentiality of your account, including but not limited to
						safeguarding account credentials (e.g., username and password), may result in the termination of
						your account. Your commitment to account security is pivotal in ensuring the trustworthiness and
						integrity of the SureDeposit community.</p>
				<li class="bullets2 b">Disruption of Platform Operations: <p class="bullets ub margin-top-bottom">In
						cases where your actions disrupt the normal operation and functionality of the SureDeposit
						platform, SureDeposit reserves the right to terminate your account. The smooth operation of the
						platform is paramount to facilitating secure and efficient financial interactions.
					</p>
				</li>
			</ol>
			<p class="text2">Account termination, if deemed necessary under any of these circumstances, shall be
				executed at SureDeposit's discretion. Such action may result in the permanent cessation of your account
				and access to the platform. Furthermore, it may be accompanied by the implementation of appropriate
				legal measures, if warranted, to address any unlawful or malicious activities.
			</p>
		</section>

		<section id="modifications" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">12. Modifications to Terms and Conditions</h2>
			<p class="text2">SureDeposit recognizes the need for continuous improvement and evolution of our Services to
				better serve our valued users. As part of this commitment, we may introduce, modify, or retire specific
				functionalities or features, and in some instances, suspend or discontinue an entire Service.
			</p>
			<ol class="flex-colunm">
				<li class="bullets2 b">Customer's Right to Terminate: <p class="bullets ub margin-top-bottom">Both the
						Customer and SureDeposit possess the prerogative to terminate any Service Agreement for any
						reason whatsoever. This includes the cessation of services that may already be in progress. This
						ensures that you have the autonomy to manage your engagement with SureDeposit as per your
						individual needs and preferences.</p>
				<li class="bullets2 b">SureDeposit's Right to Modify Services: <p class="bullets ub margin-top-bottom">
						SureDeposit reserves the right to make adjustments to the Services we provide. This may
						encompass the discontinuation of specific Services, the introduction or modification of new
						limits or charges, modifying the Interest rate, or implementation of additional features to
						enhance our Services further. These modifications are undertaken with the intent of improving
						the overall user experience and ensuring the continued relevance and effectiveness of our
						platform.</p>
				<li class="bullets2 b">Notification of Changes: <p class="bullets ub margin-top-bottom">In the event of
						significant changes to our Services or Terms and Conditions, SureDeposit will make reasonable
						efforts to notify users of these modifications. However, it is incumbent upon users to stay
						informed regarding any updates to our policies or the platform's functionality.</p>
				<li class="bullets2 b">Termination of Services: <p class="bullets ub margin-top-bottom">SureDeposit may,
						at its discretion, cease the provision of Services to any user or institute new limitations on
						the use of our Services. Such actions will be taken with the primary objective of safeguarding
						the security, stability, and integrity of our platform and user community.</p>
				<li class="bullets2 b">User Responsibility: <p class="bullets ub margin-top-bottom">Users are encouraged
						to review our Terms and Conditions periodically to stay abreast of any changes. Your continued
						use of the SureDeposit platform following the implementation of modifications signifies your
						acceptance of the revised Terms and Conditions.</p>
			</ol>
		</section>

		<section id="ip" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">13. Intellectual Property</h2>
			<p class="text2">Copyright and other relevant intellectual property rights exist on all text relating to
				the Company's services and the full content of this Website. All content, trademarks, logos, and
				intellectual property on the SureDeposit platform are the property of SureDeposit and are protected
				by applicable copyright and trademark laws. You may not use, reproduce, or distribute our
				intellectual property without prior written consent. The brand names and specific services of this
				Company featured on this Website are trademarked.
			</p>
		</section>

		<section id="disclaimers" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">14. Disclaimers</h2>
			<p class="text2">The information contained on this Website is provided on an "as it is" basis. To the
				fullest extent permitted by law, this Company:
			</p>
			<ol class="flex-colunm">
				<li class="bullets2 b">Excludes all representations and warranties concerning this Website and its
					content or that are or may be provided by affiliates or any other third party, including
					concerning any inaccuracy or omission in this Website and/or the Company's documentation; and
				</li>
				<li class="bullets2 b">Excludes any liability for damages arising from or in connection with your
					use of this Website. SureDeposit's suppliers and distributors will not be responsible
					for lost profits, revenues, or data, financial losses or indirect, special, consequential,
					exemplary, punitive damages or damage caused to your computer, computer software, systems and
					programs and data relating thereto or any other direct or indirect, consequential or incidental
					damages.
				</li>
			</ol>
			<p class="text2">SureDeposit provides its platform "as is" and does not make any warranties or
				representations regarding the accuracy, reliability, or completeness of the information provided on
				the platform. You use SureDeposit at your own risk.</p>
		</section>

		<section id="liability" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">15. Limitation of Liability</h2>
			<p class="text2">To the extent permitted by law, the total liability of SureDeposit, and its suppliers and
				distributors, for any claims under these terms, including any implied warranties, is limited to the
				amount you paid us to use the Services.
			</p>
			<p class="text2">In all cases, SureDeposit, and its suppliers and distributors, will not be liable for any
				loss or damage that is not reasonably foreseeable.
			</p>
			<p class="text2">However, this Company does not exclude liability for death or personal injury caused by its
				negligence. The above exclusions and limitations apply only to the extent permitted by law. We recognise
				that you might have legal rights as a consumer in some countries. None of your legal rights as a
				consumer are affected waived by contract.
			</p>
		</section>

		<section id="indemnification" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">16. Indemnification</h2>
			<p class="text2">By using the SureDeposit platform, you agree to indemnify and hold SureDeposit, its
				officers, directors, employees, agents, and affiliates harmless from any and all claims, losses,
				liabilities, expenses, or damages, including reasonable attorney's fees and costs, arising from your use
				of the platform or any violation of these Terms and Conditions.
			</p>
			<p class="text2">This indemnification extends to any third-party claims or demands, and it includes claims
				related to your use of the services, your violation of any applicable laws or regulations, or your
				infringement of any intellectual property or other rights of any person or entity.
			</p>
			<p class="text2">Your agreement to indemnify SureDeposit means that you accept responsibility for any
				consequences resulting from your actions on the platform, and you commit to covering any associated
				costs or losses incurred by SureDeposit or third parties due to your actions or conduct.
			</p>
			<p class="text2">This provision emphasizes the importance of complying with the Terms and Conditions and
				conducting yourself responsibly while using SureDeposit's services.
			</p>
		</section>

		<section id="laws" class="margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">17. Governing Law and Dispute Resolution</h2>
			<p class="text2">These Terms and Conditions are governed by and construed in accordance with the laws of the
				Government of India. Any disputes, claims, or controversies arising out of or relating to these Terms
				and Conditions, or the breach, termination, enforcement, interpretation, or validity thereof, shall be
				subject to the exclusive jurisdiction of the competent courts within India.
			</p>
			<p class="text2">This provision establishes that any legal matters or disputes related to these Terms and
				Conditions will be resolved according to the laws of India, and any legal proceedings will take place
				within the jurisdiction of Indian courts. It underscores the importance of adhering to Indian law when
				using SureDeposit's services and in case of any legal issues that may arise.
			</p>
		</section>

		<section id="contact" class="flex-colunm item-center margin-top margin-bottom padding-12">
			<h2 class="headings margin-bottom margin-top center">18. Contact Us</h2>
			<p class="text2 margin-bottom">If you have any questions or concerns about these Terms and Conditions,
				please contact us.</p>
			<a class="btn margin-top margin-bottom" href="/contact">Contact Us</a>
		</section>

		<p class="text2 margin-top margin-bottom center padding-12">
			Thank you for choosing SureDeposit as your peer-to-peer lending platform. We are committed to providing you
			with a secure and rewarding investment experience. By using SureDeposit, you acknowledge that you have read
			and agree to these Terms and Conditions, guiding your journey to financial empowerment and community impact.
		</p>
	</main>

	<footer class="flex-colunm">
		<div class="padding-15 flex-row footer">
			<div class="flex-colunm menu">
				<img src="img_landingPage/logo_favicon.png" alt="" id="favicon" loading="lazy">
			</div>
			<div class="flex-colunm menu">
				<span class="sub-heading color menu-header">Website</span>
				<a class="linkbtn" href="/home">Dashboard</a>
				<a class="linkbtn" href="/signup">Signup</a>
				<a class="linkbtn" href="/signin">Login</a>
			</div>
			<div class="flex-colunm menu">
				<span class="sub-heading color menu-header">Help Topics</span>
				<a class="linkbtn" href="/aboutus">About Us</a>
				<a class="linkbtn" href="/contact">Contact Us</a>
				<a class="linkbtn" href="/faq">FAQs</a>
			</div>
		</div>
		<div class="padding-15 flex-row footer">
			<div class="flex-colunm menu">
				<span class="sub-heading color menu-header">Policies</span>
				<a class="linkbtn" href="/tnc">Terms & Conditions</a>
				<a class="linkbtn" href="/privacy-policy">Privacy Policy</a>
			</div>
			<div class="flex-colunm menu">
				<span class="sub-heading color menu-header">Contact Us</span>
				<span class="bullets"><a target="_blank" rel="noopener noreferrer" class="linkbtn"
						href="mailto:contact@unitybooks.in">contact@suredeposit.in</a></span>
				<span class="bullets">
					<a target="_blank" rel="noopener noreferrer" class="linkbtn"
						href="https://api.whatsapp.com/message/HJFV7CZRCD7BG1?autoload=1&amp;app_absent=0">
						9484480809</a>
				</span>
			</div>
			<div class="flex-colunm menu app-links">
				<a href="https://play.google.com/store/apps/details?id=com.Pageturners_tech.sure_deposit_AIA_store"><img
						src="img_landingPage/playstore.png" alt="" id="playBtn" loading="lazy" class="play"></a>
			</div>
		</div>
		<div class="flex-colunm item-center">
			<h4 class="sub-heading">Crafted with <img src="img_landingPage/fav-fill.svg" alt="" id="heart"
					loading="lazy"> in
				India</h4>
			<p id="tnc" class="text2 center">Copyright © 2023 SureDeposit™. All rights reserved.</p>
			<hr class="sto">
		</div>
	</footer>

</body>

</html>