.screen {
    padding: 30px 15px;
}

#helps h2 {
    font-size: 9vw;
    margin-bottom: 0.5vh;
}

#helps h3 {
    font-size: 6.5vw;
}

.faq-content {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.faq-content p {
    margin: 0;
    text-align: start;
}

.faq-arrow {
    transition: transform 0.3s ease-in-out;
}

.faq-row td:first-child {
    width: 90%;
    color: var(--black3);
}

.faq-content>td {
    width: 100% !important;
    position: relative;
    padding-left: 6vw;
}

.faq-row td:last-child img {
    position: relative;
    top: 2px;
}

.faq-arrow {
    padding-left: 12px;
    display: inline-block;
    padding-bottom: 5px;
}

#helps .btn,
#viweTickets .btn,
#addTickets .btn {
    margin-bottom: 0.5vh;
    margin-top: 1vh;
    transform: scale(0.9);
    transition: all 0.3s ease;
}

#helps .btn:active {
    transform: scale(0.8);
}

#helps table tr:nth-child(3) td:after {
    width: 0;
    height: 0;
}

#viweTickets #ticketBox {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 10vh;
}