body {
	background: linear-gradient(180deg, #1A1128 0%, #03002E 100%);
	font-family: "Roboto", sans-serif;
	color: var(--color-sec);
	padding: 0;
}

ul {
	display: flex;
}

ul>li {
	list-style: none;
	padding: 6px 0;
}

ul>li::before {
	content: '';
	display: inline-flex;
	align-items: flex-end;
	justify-content: center;
	margin-right: 10px;
	width: 20px;
	height: 20px;
	background-image: url("/img_landingPage/check.svg");
	position: relative;
	top: 3px;
}

ol {
	display: flex;
	gap: 12px;
	padding: 18px;
}

ol>li {
	margin-left: 36px;
}

a {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

a,
button,
.cur-point {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

/* Text styles */

.main-heading {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 6.5vh;
	line-height: 8vh;
	background: -webkit-linear-gradient(var(--color-primary), var(--color-primary2));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing: 0.5px;
}

.sub-heading {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	color: var(--color-sec);
	letter-spacing: 1px;
}

.headings {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	background: -webkit-linear-gradient(var(--color-primary), var(--color-primary2));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing: 0.5px;
}

.bullets {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.75px;
	color: var(--color-sec);
}

.bullets2 {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 32px;
	letter-spacing: 0.75px;
	color: var(--color-sec);
}

.linkbtn {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.75px;
	color: var(--color-sec);
	transition: all 0.35s ease;
}

.linkbtn:hover,
#nav-links>.active {
	color: var(--color-primary);
	text-decoration: underline;
}

.text {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: var(--color-sec);
}

.text2 {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 28px;
	color: var(--color-sec);
	padding-top: 1vh;
	padding-bottom: 1vh;
}

.color {
	color: var(--color-primary);
}

.color-sec {
	color: var(--color-sec);
}

/* Dimensions */

.w-full {
	width: 100%;
}

.w-half {
	width: 50%;
}

.h-full {
	height: 100%;
}

.h-100 {
	height: 100vh;
}

.padding-15 {
	padding: 0% 7.5%;
}

.padding-12 {
	padding: 2.5% 15%;
}

.padding-8 {
	padding: 1% 25%;
}

.padding-top-bottom {
	padding: 4.5vh 0;
}

.margin-top-bottom {
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.margin-left-right {
	margin-left: 5%;
	margin-right: 5%;
}

.headers {
	padding: 2% 0;
}

.Bodytext {
	padding: 1% 0;
}

.phone-img-box {
	width: 40%;
}

.phone-img {
	width: 100%;
	height: auto;
}

/* Btns and Icons */

.btn,
.btn-grey {
	width: 15vw;
	transform: scale(1.1);
	margin-top: 1vh;
}

.btn-grey {
	background-color: var(--grey);
	color: var(--black2);
}

.btn-unselect {
	background-color: #0062f57d;
	color: rgba(255, 255, 255, 0.529);
	pointer-events: none;
	transition: all 0.35s ease;
}

.btn:hover,
.btn-grey:hover {
	box-shadow: 0 0 20px var(--color-primary);
}

.btn:hover:before {
	width: 100%;
}

.btn:active,
.btn-grey:active {
	transform: scale(0.9);
	box-shadow: 0 0 25px var(--color-primary);
}

.btn:active:before {
	width: 150%;
	left: -25%;
}

.icons2 {
	height: 20px;
	width: auto;
	padding-right: 8px;
	display: inline-block;
}

/* Scroll Viewing */

.scroll {
	opacity: 0;
	filter: blur(3.5px);
	transform: translateY(-8%);
	transition: all 1s;
}

.show {
	opacity: 1;
	filter: blur(0);
	transform: translateY(0);
}

/* Navbar */

#navbar {
	width: 100%;
	height: 12vh;
	padding: 0 5%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#playBtnNav {
	display: none;
}

#logo {
	position: absolute;
	width: 180px;
	left: 7.5vw;
	top: 0px;
	mix-blend-mode: normal;
}

.play {
	transition: box-shadow 0.3s ease;
}

.play:active {
	box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
}

.play:hover {
	box-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
}

#nav-links {
	align-items: center;
	justify-content: space-evenly;
	gap: 2.5vw;
	align-self: stretch;
}

/* Footer */

footer {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.225) 100%);
}

.footer {
	align-items: center;
	justify-content: flex-end;
	margin: 3vh 0;
	gap: 25px;
}

#favicon {
	height: 12vh;
}

.menu {
	align-items: flex-start;
	justify-content: center;
	gap: 4px;
	width: 27.5%;
}

.menu-header {
	margin-bottom: 5px;
}

.footer .sub-heading {
	background: -webkit-linear-gradient(var(--color-primary), var(--color-primary2));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.app-links {
	gap: 7vw;
}

#playBtn,
#playBtnHero {
	margin-top: 5px;
	height: 8vh;
}

#qr {
	margin-top: 5px;
	height: 25vh;
	border-radius: 6px;
}

#heart {
	width: 24px;
	position: relative;
	top: 4px;
}

#qrAnimation {
	mix-blend-mode: darken;
	margin-left: 5px;
}

.btn-grey {
	width: 17vw;
}

#tnc {
	margin-bottom: 10px;
}

footer .sto {
	margin-bottom: 10px;
}