.screen {
	height: calc(100vh - 50px);
	padding-bottom: 50px;
}

.box-container {
	width: 85vw;
	max-width: 540px;
}

#otp-img {
	width: 20vw;
	max-width: 100px;
	height: auto;
}

.otp-container {
	justify-content: space-around;
	align-self: stretch;
	padding: 1vh;
}

.otp-box {
	caret-color: transparent;
	width: 12vw;
	max-width: 81px;
	aspect-ratio: 1;
	padding: 4px;
	border: 2px solid var(--grey2);
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: min(40px, calc((12vw - 10px)/1.75));
	line-height: min(36px, calc((12vw - 10px)/2));
	text-align: center;
	color: var(--color-primary);
}

input:focus {
	border: 2px solid var(--color-primary);
	outline: none;
}